html {
  /* Note: rem are based on this. Default 16px */
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;


/*  font-family: 'Noto Sans', sans-serif; */

  /* check box hack */
  -webkit-animation: bugfix infinite 1s; /* needed for checkbox hack */

  background: #eee;
}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} } /* needed for checkbox hack */

p {
  text-align:justify;
  margin-bottom: .5em;
}
.center {text-align:center;}

/* Global */
body > section {
  margin: 18px 0 0 0;
  padding-top: 44px;
  background: #fff;
}

section > header:first-child {
  padding: 40px 0 40px 0;
  margin-right: auto;
  margin-left: auto;
}

input[type=checkbox].toggle + label > div {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
}

input[type=checkbox].toggle + label > div > div { /* bars */
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* Closed state */
input[type=checkbox].toggle + label > div > div:first-child { /* upper bars */
  -webkit-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
}

input[type=checkbox].toggle + label > div > div:last-child { /* upper bars */
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}

/* to open animation */
input[type=checkbox].toggle + label > div > div {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* Open state */
input[type=checkbox].toggle:checked + label > div > div:first-child {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

input[type=checkbox].toggle:checked + label > div > div:last-child {
  -webkit-transform: translateY(3px) rotate(-45deg);
  transform: translateY(3px) rotate(-45deg);
}
/* end global */

#menu-toggle,
#menu-toggle + label {display: none}

@media (max-width: 700px) {
  /* TODO: make responsive:
  * move to vertical when ((width*# + margin) > screen)
  */

  nav {
    top: 0;
    left: 0;
    width:100%;
    text-align: right;
  }
  nav > ul {padding-top: 20px;}
  nav > ul > li {
    height: 2.35;
    line-height: 2.35;
    text-align: center;

    background-color: #ffc914;
    border-left: 1px solid rgba(25, 25, 25, 0.1);
    border-right: 1px solid rgba(25, 25, 25, 0.1);
  }

  .brand {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 1.2em;
    position: absolute;
    left: 1em;
  }


  /* enable drop down */
  label {cursor: pointer;}
  /* hide the checkbox */
  #menu-toggle {display: none}
  #menu-toggle + label {
    display: inline-block;
    position: relative;
    margin-right: 1em;
    width: 1em;
  }

  #menu-toggle:not(:checked) + label + ul {display: none;}
  #menu-toggle:checked + label + ul,
  #menu-toggle:checked + label + ul > li {display: block;}
}

@media (min-width: 701px) {.only-small {display: none !important;}}
@media (max-width: 701px) {.only-big {display: none !important;}}

/* ************************* First Section ********************************** */
#intro {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  height: 100vh;
  width: 100%;

  margin: 0;
  padding: 0;

  /* Cover surface: adapt wrt/with or height */
  overflow: hidden;
  background: transparent;

  color: #fff;
  text-align: center;
}

#intro:before {
  content: "";

  z-index: -1;

  /* Full #intro size */
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  /* Background */
  filter: brightness(65%);
  background: url("../img/head.jpg");
  background-size: cover;
  background-position: center;
}

#intro > div {
  padding-top: 3rem;
}

#intro h1, #intro h2 {
  font-weight: 500;
  text-shadow: 1px 1px #000;
}
#intro h1 {font-size: 3.0rem;}
#intro h2 {font-size: 1.5rem;}


.reserve-button {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  display: inline-block;
  width: auto;

  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 1rem 2rem;

  border: 1px solid transparent;
  border-radius: .3rem;
  color: #fff;
  border-color: #fff;
}

#intro .reserve-button {
  margin-top: 8rem;
}

.reserve-button:hover {
  color: #0275d8;
  background-color: #fff;
}

@keyframes bottom{
  0%, 100% {
      -webkit-transform: translate(0,-20px);
      -moz-transform: translate(0,-20px);
      -o-transform: translate(0,-20px);
      -ms-transform: translate(0,-20px);
      transform: translate(0,-20px);
  }
  50% {
      -webkit-transform: translate(0,-35px);
      -moz-transform: translate(0,-35px);
      -o-transform: translate(0,-35px);
      -ms-transform: translate(0,-35px);
      transform: translate(0,-35px);
  }
}

.arrow {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    -webkit-animation: bottom 2s infinite;
    animation: bottom 2s infinite;
}

/* TODO: move up */
button {
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: .25em;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding: 0.25em .5em;
  text-align: center;
  white-space: nowrap;
}

.reserve {
  background-color: #0275d8;
  border-color: #0275d8;
  color: #fff;
}

.reserve:hover {
  background-color: #025aa5;
  border-color: #01549b;
}

.info {
  background-color: #fff;
  border-color: #ccc;
  color: #373a3c;
}
.info:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.no-full > * {
	width: 80%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* ========================================================================== */

#welcome-more {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

#welcome-more-control:checked + label + #welcome-more {
    max-height: 1000px; /* Just random >> actual size */
    transition: max-height 0.25s ease-in;
}



/* ========================================================================== */

#accomodations {
	padding: 40px 0 40px 0;
}

.flex {
	display: flex;
	justify-content: space-between;
}

#accomodations > div {
/*  height: 50vh; */
}

#pitch-matrix {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*background: #eee; /* same as body */
	padding-bottom: 18px;
}

#pitch-matrix > div {
	background-color: #fff;
	height: calc((50vw - 18px)/1.5);
	width: calc(50vw - 18px);

	box-sizing: border-box;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);

	margin-top: 18px;
  overflow: hidden;
}


#pitch-text {
	overflow-x: auto;
	padding: 15px;
}

@media (max-width: 1280px) {
	#pitch-matrix > div {
		height: calc(100vw/1.5);
		width: 100%;
	}
	#pitch-text {height: auto;}
}


#accomodations > p {
  text-align: center;
  margin-bottom: 3rem;
}

#pitch-a:after, #pitch-b:after, #pitch-c:after {
	content: "";
  position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;

  background-size: cover;
  background-position: center;

  filter: brightness(100%);

	transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-webkit-transition: all .5s ease-in;
}
#pitch-a:after {background-image: url("../img/Pitch/a.jpg");}
#pitch-b:after {background-image: url("../img/Pitch/b.jpg");}
#pitch-c:after {background-image: url("../img/Pitch/c.jpg");}
#pitch-matrix > div:hover:after {
	transform: scale(1.1);
  filter: brightness(100%);
}

#accomodations footer {
	margin-top: 1rem;
}
#accomodations .reserve-button {
  color: #000;
  border-color: #000;
}

#accomodations .reserve-button:hover {
  color: #fff;
	background-color: #000;
  border-color: #000;
}


/* ========================================================================== */
#welcome-carousell > img {width: 100%;}
/* ========================================================================== */

.A {color: rgb(229,66,52)}
.B {color: rgb(51,165,82)}
.C {color: rgb(0,0,0)}

#notes {
  height: 500px;

  background:
    linear-gradient(65deg, transparent 50%, #fff 50%) center center no-repeat,
    url("../img/header.jpg") left center no-repeat
    ;
  background-size: cover, 60% auto;
}
