/* Global style */

/* Use for body : 'Open Sans', sans-serif; */
/* Headlines: 'Raleway', sans-serif; */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(../fonts/bIcY3_3JNqUVRAQQRNVteQ.ttf) format('truetype');
}

html { /* Note: rem are based on this. Default 16px */
  font-size: 24px;
}
@media (max-width: 1200px) {html {font-size: 16px}}
@media (max-width: 992px) {html {font-size: 14px}}
@media (max-width: 768px) {html {font-size: 13px}}
	/* breakpoint: 1200, 992, 768, 480, 320 */

@media (min-width: 769px) {.only-v {display: none !important;}}
@media (max-width: 768px) {.only-h {display: none !important;}}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  color: #000;
  background: rgba(240,240,240,0.6);

  width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

  /* check box hack */
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} } /* needed for checkbox hack */

p {
  text-align:justify;
  padding: 0 .5em 0 .5em;
}

strong {font-weight: 700;}

.brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  /*
  text-decoration: none;
  text-transform: none;
  font-style: normal;
  letter-spacing: -1px;
  */
}

body > section {
  margin: 4px 0 0 0;

	padding-top: 3.2rem;
	padding-top: calc(3rem + 4px);

  padding-bottom: 1em;
  background: #fff;

  box-sizing: border-box;
}

@media (max-width: 768px) {
  body > section {
    padding-left: 5px;
    padding-right: 5px;
  }
}

section > header:first-child {
  padding: 0 0 40px 0;
  margin-right: auto;
  margin-left: auto;
}
section > header:first-child > :first-child {margin-top: .5em}


.no-full > * {
  /* TODO: tweek me */
	width: 80%;
	max-width: 1200px;
	/* breakpoint: 1200 (1128?), 992, 768, 480, 320 */
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 992px) {.no-full > * {width:100%}}


/* ----------------------------------------------------------------------------
 * Shared components */

button, .button {
  display: inline-block;
  width: auto;

  font-family: 'Raleway', sans-serif;

  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-decoration: none;
  text-align: center;
  font-weight: 400;
  line-height: 1.25;
  padding: 1em 2em;

  border: 1px solid transparent;
  border-radius: .3rem;
}

a.reserve-button {
  color: #ffad33;
  border-color: #ffad33;
  background-color: #fff;
}

a.reserve-button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #ffad33;
	text-decoration: none;
}

.flex-row {display: flex; justify-content: space-around; flex-wrap: wrap}
.flex-row > * {text-align: center}

.active-only {display:none}
.active-only:target {display:inherit}
.space-up {
	padding-top: 3.2rem;
	padding-top: calc(3rem + 4px);
}
i.large {font-size: 1.6em}
