/* Menu setup */
/* Full monitor setup */
#menu {
	display: flex;
	justify-content: space-between;
	box-sizing: content-box;

	width: 100%;
	height: 3em;
	padding: 2px 30px 2px 30px;

  color: #fff;
	font-family: 'Raleway', sans-serif;
	background-color: #0288d1;
}

#menu > ul {
	display: inline-flex;
	list-style: outside none none;
	margin: 0 auto 0 auto;
	padding: 0;
	font-size: 0;
	flex-grow: 2;
	justify-content: space-around;
}

#menu > ul > li {
	height: 100%;
	display: inline-block;
}

#menu a, #menu a:hover, #menu a:visited {
	display: block;
	height: 100%;
	box-sizing: border-box;

	font-size: .8rem;
	line-height: 3rem;

  letter-spacing: 2px;
  text-transform: uppercase;
	text-decoration: none;

	border: 2px solid transparent;
}

@media (max-width: 992px) {
	#menu a, #menu a:hover, #menu a:visited
	{padding: 0 .5rem 0 .5rem}
}

@media (min-width: 768px) {
	#menu a:hover {
		cursor: pointer;
		color: inherit;
		border-bottom: 2px solid #fff;
	}
}

#menu li.separator a {
	padding: .2em 0 .2em 0;
	width: 0;
	border: 1px inset rgba(255,255,255,0.2);
	border-width: 0 1px 0 1px;
}

#logo {
	height: 3rem;
	width: 5.91rem;
	min-width: 5.91rem;
	background: url("../img/LogoTrasparenteWhite.png");
	background-size: cover, cover;
}

/* Sticky binding */
#menu-placeholder {display: none;}
body.fix #menu {position: fixed;z-index: 2;top: 0}
body.fix #menu-placeholder {
  display: block;
  height: 3rem; /* Same as #menu */
}

/* Collapsed version binding */
#menu-toggle,
#menu-toggle + label {display: none}
@media (max-width: 768px) {
  /*
  * move to vertical when ((width*# + margin) > screen)
  */

  #menu, #menu-list, ul#menu-list > li {display: block;}
  #menu {
		position: relative;
    width:100%;
    text-align: center;
		height: auto;
  }

	#menu-list {transition: all 2s}

	#menu li.separator a {
		padding: 0;
		width: 100%;
		height: 0;
		border: 1px inset rgba(255,255,255,0.2);
		border-width: 1px 0 1px 0;
	}

	#menu .brand {height: 100%}

  #menu-toggle:not(:checked) ~ #menu-list {max-height: 0;display: none;}
  #menu-toggle:checked ~ #menu-list {max-height: 10000px;display: block}
}
