/* Menu setup */
/* Full monitor setup */
#menu {
	display: flex;
	justify-content: space-between;
	box-sizing: content-box;

	height: 3em;
	padding: 2px 30px 2px 30px;

  color: #fff;
	font-family: 'Raleway', sans-serif;
	background-color: #0288d1;

	box-shadow: 0;
	        transition: box-shadow 1s ease-in-out;
     -moz-transition: box-shadow 1s ease-in-out;
  -webkit-transition: box-shadow 1s ease-in-out;
}

#menu > ul {
	display: inline-flex;
	list-style: outside none none;
	margin: 0 auto 0 auto;
	padding: 0;
	font-size: 0;
	flex-grow: 2;
	justify-content: space-around;
}

#menu > ul > li {
	height: 100%;
	display: inline-block;
}

#menu a, #menu a:hover, #menu a:visited {
	display: block;
	height: 100%;
	box-sizing: border-box;

	font-size: .8rem;
	line-height: 3rem;

  letter-spacing: 2px;
  text-transform: uppercase;
	text-decoration: none;

	border: 2px solid transparent;
  color: #fff;
}

@media (max-width: 992px) {
	#menu a, #menu a:hover, #menu a:visited
	{padding: 0 .5rem 0 .5rem}
}

@media (min-width: 768px) {
	#menu a:hover {
		cursor: pointer;
		color: inherit;
		border-bottom: 2px solid #fff;
	}
}

#menu li.separator a {
	padding: .2em 0 .2em 0;
	width: 0;
	border: 1px inset rgba(255,255,255,0.2);
	border-width: 0 1px 0 1px;
}

#logo {
	height: 3rem;
	width: 5.91rem;
	min-width: 5.91rem;
	background: url("../img/LogoTrasparenteWhite.png");
	background-size: cover, cover;
}

/* Sticky binding */
body.fix #menu {
	position: fixed;
	z-index: 2; top: 0;left: 0;right: 0;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
		 				  0 1px 10px 0 rgba(0,0,0,0.12),
						  0 2px 4px -1px rgba(0,0,0,0.3);
}

body.fix {
  margin-top: 3rem; /* Same as #menu */
  margin-top: calc(3rem + 4px); /* Same as #menu */
}

/* Collapsed version binding */

@media (min-width: 769px) {
  #menu-toggle,
  #menu-toggle + label {display: none}
}

@media (max-width: 768px) {
  /*
  * move to vertical when ((width*# + margin) > screen)
  */
  #menu-toggle {position: absolute; left: -10000px;}
  #menu-label {position: absolute; top:1.5rem; right: 30px;}

  #menu, #menu-list, ul#menu-list > li {display: block;}
  #menu {
		position: relative;
    list-style: none;
    text-align: center;
    max-height: 100vh;
		height: auto;
    overflow: auto;
  }

  #logo {
    display: block;
    position: absolute;
    top: 2px;
  }

  #menu-toggle:checked + label + .brand {
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  #menu li.brand {
    display: inline-block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
  }

	#menu > ul {
    display: block;
    max-height: 0;
    overflow: hidden;
            transition: max-height .4s ease-in-out;
       -moz-transition: max-height .4s ease-in-out;
    -webkit-transition: max-height .4s ease-in-out;
  }

  #menu a:hover {
    background-color: #f6f6f6;
    color: #333;
  }

	#menu .brand {height: 100%}

  /* set to be actual, or a bit more, but not too much (latency in animation) */
  /* 3rem * 9 */
  #menu-toggle:checked ~ #menu-list {
    max-height: 30rem;
    padding-bottom: 5px;
  }
}

@media (max-width: 480px) {
  #menu {padding: 5px}
  #menu-label {right: 5px}
}
