{% extends 'base.tpl.html' %}

{% block body %}
<br><h4>Utilizzo dei cookies</h4>
<p>(informativa conforme al Provvedimento n. 229 del Garante Privacy del 8 Maggio 2014)<br>
Camping Punta Indiani, informa che questo Sito internet fa uso di cookies, al fine di rendere i propri servizi il pi&ugrave; possibile efficienti e semplici da utilizzare.<br>
Utilizzando il nostro sito web, l'utente dichiara di accettare e acconsentire all&rsquo; utilizzo dei cookies in conformit&agrave; con i termini di uso dei cookies espressi in questo documento.</p>

<br><h5>I cookie sul nostro sito</h5>
<p>Questo sito internet utilizza solo cookies tecnici ed analitici, che secondo la normativa possono essere utilizzati senza chiedere il consenso dell&rsquo;utente, poich&eacute; sono strettamente necessari per la fornitura del servizio.<br>
Qui di seguito sono riportati i tipi cookie che possono essere utilizzati nel Sito con una descrizione della finalit&agrave; legata all'uso.</p>

<br><h5>Che cosa sono i cookie?</h5>
<p>I cookie sono file di testo che contengono pacchetti di informazioni che vengono memorizzati sul tuo computer o sul tuo dispositivo mobile tutte le volte che visiti un sito online attraverso un browser. Ad ogni successiva visita il browser invia questi cookies al sito web che li ha originati o ad un altro sito. I cookies permettono ai siti di ricordare alcune informazioni per permetterti di navigare online in modo semplice e veloce.</p>


<br><strong>Tipo di cookie e finalit&agrave;</strong><br>
<dl>
  <dt>Cookie di sessione o di navigazione (Usati dal nostro sito)</dt>
  <dd>I cookie di questo tipo sono necessari per il corretto funzionamento di alcune aree del sito.  I cookie di questa categoria comprendono sia cookie persistenti che cookie di sessione. In assenza di tali cookie, il sito o alcune porzioni di esso potrebbero non funzionare correttamente. Pertanto, vengono sempre utilizzati, indipendentemente dalle preferenze dall'utente. I cookie di questa categoria vengono sempre inviati dal nostro dominio.</dd>

  <dt>Cookie analitici (Usati dal nostro sito)</dt>
  <dd>I cookie di questo tipo vengono utilizzati per raccogliere informazioni sull'utilizzo del sito. Il Titolare usa tali informazioni per analisi statistiche, per migliorare il sito e semplificarne l'utilizzo, oltre che per monitorarne il corretto funzionamento. Questo tipo di cookie raccoglie informazioni in forma anonima sull'attivit&agrave; degli utenti nel sito e sul modo in cui sono arrivati al Sito e alle pagine visitate. I cookie di questa categoria vengono inviati dal Sito stesso o da domini di terze parti.</dd>

  <dt>Cookie di rilevamento di terze parti (NON usati dal nostro sito)</dt>
  <dd>I cookie di questo tipo vengono utilizzati per raccogliere informazioni sull'utilizzo del sito Web da parte dei visitatori, le parole chiave usate per raggiungere il sito, i siti Web visitati e le origini del traffico da cui provengono i visitatori per le campagne di marketing. Il titolare pu&ograve; utilizzare tali informazioni per compilare rapporti e migliorare il Sito. I cookie raccolgono informazioni in forma anonima. I cookie di questo tipo vengono inviati dal Sito stesso o da domini di terze parti.</dd>

  <dt>Cookie per l'integrazione di funzionalit&agrave; di terze parti(NON usati dal nostro sito)</dt>
  <dd>I cookie di questo tipo vengono utilizzati, solo in via eventuale, in relazione a determinate funzionalit&agrave; di siti specifici e non in modo sistematico, per integrare funzionalit&agrave; terze parti nel Sito (ad esempio, moduli per i commenti o icone di social network che consentono ai visitatori di condividere il contenuto del sito). I cookie di questa categoria possono essere inviati dai domini dei siti partner o che comunque offrono le funzionalit&agrave; presenti nel sito.</dd>
</dl>

<p>Inoltre il sito fa uso di cookie di funzionalit&agrave;, che permettono all'utente la navigazione in funzione di una serie di criteri selezionati (ad esempio, la lingua, i prodotti selezionati per l'acquisto) al fine di migliorare il servizio reso allo stesso.</p>

<br>
<strong>Siti Web di terze parti</strong>
<p>Il sito di contiene collegamenti ad altri siti Web che dispongono di una propria informativa sulla privacy. Queste informative sulla privacy possono essere diverse da quella adottata da Camping Punta Indiani, che quindi non risponde per Siti di terze parti.<br>
L&rsquo;autorizzazione alla raccolta e all&rsquo;archiviazione dei dati pu&ograve; essere revocata in qualsiasi momento. L&rsquo;utente pu&ograve; disattivare l&rsquo;utilizzo dei cookie da parte di qualuque sito web.</p>


<br>
<strong>Come disabilitare i cookie</strong>
<p>Nel caso volessi bloccare cookie ti ricordiamo che questo potrebbe avere un impatto negativo sull&rsquo;usabilit&agrave; di alcuni siti web.<br>
La maggior parte dei browser ti permette di rifiutare/accettare i cookie. Di seguito ti riportiamo alcune informazioni pratiche per disabilitare i cookie sul browser che stai utilizzando.</p>

<br>
<strong>Internet Explorer 9</strong><br>
&nbsp;-&nbsp;Apri la finestra di Internet explorer.<br>
&nbsp;-&nbsp;Clicca su &ldquo;Strumenti&rdquo;.<br>
&nbsp;-&nbsp;Vai su &ldquo;Sicurezza&rdquo; e dopo clicca &ldquo;Cancella cronologia&rdquo;.<br>
&nbsp;-&nbsp;Spunta il box &ldquo;cookies&rdquo; e dopo clicca su &ldquo;cancella&rdquo;.<br>
&nbsp;-&nbsp;Clicca &ldquo;Sicurezza&rdquo; on the sulla barra.<br>
&nbsp;-&nbsp;Seleziona &ldquo;Cancella cronologia&rdquo;.<br>
&nbsp;-&nbsp;Seleziona l&rsquo;opzione per cookie and e dopo clicca su &ldquo;cancella&rdquo;.<br>
<br><br>

<strong>Internet Explorer 8</strong><br>
<p>In alternativa, la nuova funzione di Internet Explorer 8 InPrivate browsing consente all&rsquo;utente di navigare in rete senza lasciare tracce dai siti visitati (inclusi i cookie). Per utilizzare la modalit&agrave; InPrivate:</p>
&nbsp;-&nbsp;Clicca &ldquo;Sicurezza&rdquo; on the sulla barra.<br>
&nbsp;-&nbsp;Seleziona &quot;InPrivate Browsing&quot;.<br>
&nbsp;-&nbsp;Esci da Internet Explorer 7, e chiudi tutte le finestre di Windows Explorer.<br>
&nbsp;-&nbsp;Clicca su &ldquo;Start&rdquo;, &ldquo;Run&rdquo;, ed inserisci inetcpl.cpl, e dopo clicca su &ldquo;OK&rdquo;.<br>
&nbsp;-&nbsp;Sulla scheda &ldquo;Generale&rdquo; clicca &ldquo;Cancella&rdquo; sotto &ldquo;Cronologia navigazione&rdquo; nel box &ldquo;Propriet&agrave; Internet&rdquo;.<br>
&nbsp;-&nbsp;Nel box &ldquo;Cancella cronologia di navigazione&rdquo; clicca su &ldquo;Cancella Cookies&rdquo;.<br>
&nbsp;-&nbsp;Nel box &ldquo;Cancella Cookies&rdquo; clicca &ldquo;s&igrave;&rdquo;.<br>
<br><br>

<strong>Internet Explorer 7.x</strong><br>
&nbsp;-&nbsp;Esci da Internet Explorer 7, e chiudi tutte le finestre di Windows Explorer.<br>
&nbsp;-&nbsp;Clicca su &ldquo;Start&rdquo;, &ldquo;Run&rdquo;, ed inserisci inetcpl.cpl, e dopo clicca su &ldquo;OK&rdquo;.<br>
&nbsp;-&nbsp;Sulla scheda &ldquo;Generale&rdquo; clicca &ldquo;Cancella&rdquo; sotto &ldquo;Cronologia navigazione&rdquo; nel box &ldquo;Propriet&agrave; Internet&rdquo;.<br>
&nbsp;-&nbsp;Nel box &ldquo;Cancella cronologia di navigazione&rdquo; clicca su &ldquo;Cancella Cookies&rdquo;.<br>
&nbsp;-&nbsp;Nel box &ldquo;Cancella Cookies&rdquo; clicca &ldquo;s&igrave;&rdquo;.<br>
<br><br>

<strong>Internet Explorer (tutte le altre versioni)</strong><br>
<p>Internet Explorer salva i cookies in pi&ugrave; luoghi in funzione della versione del browser e dal sistema Microsoft Windows utilizzato.
Il miglior modo per trovare e cancellare i cookies &egrave; di chiudere Internet Explorer ed utilizzare lo strumento di esplora risorse (ad esempio Windows Explorer) e cercare una cartella che si chiami &ldquo;cookies&rdquo;.</p>

<strong>Google Chrome</strong><br>
&nbsp;-&nbsp;Fai clic sull'icona &ldquo;impostazioni&rdquo; in alto a destra del menu.<br>
&nbsp;-&nbsp;Seleziona &ldquo;Impostazioni&rdquo;.<br>
&nbsp;-&nbsp;Nella parte inferiore della pagina, fai clic su Mostra impostazioni avanzate.<br>
&nbsp;-&nbsp;Nella sezione &quot;Privacy&quot;, fai clic su Impostazioni contenuti.<br>
&nbsp;-&nbsp;Per disattivare i cookie, seleziona Impedisci ai siti di impostare dati (in alternative puoi rimuovere tutti i cookie creati in un intervallo di tempo specifico selezionandolo dall&rsquo;elenco a tendina).<br>
&nbsp;-&nbsp;Seleziona &quot; Cancella dati di navigazione &quot; per cancellare tutte le tracce dei siti che hai visitato.<br>
&nbsp;-&nbsp;Seleziona &quot;Cancella cronologia download&rdquo; per cancellare l&rsquo;archivio dei file e dei programmi che avete scaricato.<br>
&nbsp;-&nbsp;Selezione &ldquo;Svuota la cache&rdquo; per cancellare le pagine dei siti inserite in memoria cache.<br>
&nbsp;-&nbsp;Puoi anche cancellare le password salvate (quelle che utilizzi per accedere ai siti) e i dati salvati per compilare form (ad esempio nome e cognome).<br>
&nbsp;-&nbsp;Poi clicca sul bottone &ldquo;Cancella dati di navigazione&rdquo;.<br>
&nbsp;-&nbsp;Clicca sul bottone &ldquo;Chiudi&rdquo;.<br>
<br><br>

<strong>Mozilla Firefox</strong><br>
&nbsp;-&nbsp;Nella parte superiore della finestra di Firefox fare clic sul pulsante Firefox e seleziona &ldquo;Opzioni&rdquo; poi vai al pannello &ldquo;Privacy&rdquo;.<br>
&nbsp;-&nbsp;Nel pannello &ldquo;Cookies&rdquo;, cliccare su &ldquo;mostra Cookies&rdquo;.<br>
&nbsp;-&nbsp;Per rimuovere un singolo cookie cliccare sulla singola voce nella lista e dopo cliccare sul bottone rimuovi cookie.<br>
&nbsp;-&nbsp;Per rimuovere tutti i cookies cliccare sul bottone Rimuovi tutti i cookie.<br>
&nbsp;-&nbsp;Dal men&ugrave; a tendina clicca sulla sottovoce &ldquo;Preferenze&rdquo;.<br>
&nbsp;-&nbsp;Seleziona la scheda &ldquo;Sicurezza&rdquo;.<br>
&nbsp;-&nbsp;Clicca sul bottone &ldquo;Mostra cookies&rdquo;.<br>
&nbsp;-&nbsp;Seleziona dalla lista i cookies che vuoi rimuovere.<br>
&nbsp;-&nbsp;Clicca sul bottone &ldquo;Cancella&rdquo;.<br>
<br><br>

<strong>Safari 1.0 (MacOS X)</strong><br>
&nbsp;-&nbsp;Dal men&ugrave; a tendina clicca sulla sottovoce &ldquo;Preferenze&rdquo;.<br>
&nbsp;-&nbsp;Seleziona la scheda &ldquo;Sicurezza&rdquo;.<br>
&nbsp;-&nbsp;Clicca sul bottone &ldquo;Mostra cookies&rdquo;.<br>
&nbsp;-&nbsp;Seleziona dalla lista i cookies che vuoi rimuovere.<br>
&nbsp;-&nbsp;Clicca sul bottone &ldquo;Cancella&rdquo;.<br>
<br><br>
{% endblock %}
