<h3>{{ _('Pet disclaimer') }}</h3>
<p>{{ _('Pets owners must declare their pet when making reservation or on arrival.') }}</p>
<br>

<h4>{{ _('Dogs') }}</h4>
<ul>
  <li>{{ _('They are allowed only in area C.') }}</li>
  <li>{{ _('DOGS ARE NOT ALLOWED on the BEACH, in the SERVICES, on PLAYGROUNDS and in the PARKINGS.') }}</li>
  <li>{{ _('MUST NOT DISTURB.') }}</li>
  <li>{{ _('they must be kept on a SHORT LEASH at all times.') }}</li>
  <li>{{ _('the Management can decide not to welcome dogs declared dangerous or aggressive.') }}</li>
  <li>{{ _('the entrance in the campsite must be authorised by the management. Sanitary condition certificate is compulsory to welcome dog in the campsite') }}</li>
  <li>{{ _('must be taken outside the campsite for their physical needs. (take with you scoop and bags)') }}</li>
  <li>{{ _('owners must ensure respect of sanitary rules and are personally responsible for any damage caused by their dogs.') }}</li>
  <li>{{ _('dogs owners who do not comply with these rules will be kindly asked to leave the camp-site.') }}</li>
</ul>
