<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include 'intern.inc.html' %}

        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <style type="text/css">
            #gallery .image {margin-bottom: 20px}
        </style>
    </head>
    <body>

        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left x-menu">
                    <a href="./" class="nav-item is-tab"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>Home</a>
                    <a href="#" class="nav-item is-tab is-active">{{ _('gallery') }}</a>
                </div>
            </div>
        </nav>

        <section class="section" id="gallery">
            <div class="container is-fluid">
                <div class="columns is-multiline">
                    <div class="column">
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_34.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_23.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_15.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_16.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_17.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_18.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_27.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_36.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_38.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_13.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_14.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_24.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_12.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_32.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_44.jpg"></figure>
                     </div>
                     <div class="column">
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_25.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_30.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_35.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_4.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_5.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_6.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_7.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_8.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_11.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_33.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_20.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_37.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_19.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_22.jpg"></figure>
                     </div>
                     <div class="column">
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_21.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_3.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_40.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_2.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_9.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_0.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_29.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_31.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_43.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_26.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_28.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_42.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_39.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_41.jpg"></figure>
                        <figure class="image has-shadow-1"><img src="/images/Gallery/Camping_Punta_Indiani_1.jpg"></figure>
                    </div>
                </div>
            </div>
        </div>

        </section>

        {% include "cookies.inc.html" %}
        {% include 'footer.inc.html' %}
        {% include 'google.inc.html' %}

    </body>
    <!--
    // vim: spelllang=it
    -->
</html>
