<nav class="nav has-shadow x-menu">
    <div class="container">
        <div class="nav-left">
            <a href="./" class="nav-item is-tab"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>Home</a>
            <a href="aqva.html" class="nav-item is-tab{% if page == 'aqva' %} is-active{% endif %}">Aqva</a>
            <a href="panorama.html" class="nav-item is-tab{% if page == 'panorama' %} is-active{% endif %}">Panorama</a>
            <a href="relax.html" class="nav-item is-tab{% if page == 'relax' %} is-active{% endif %}">Relax</a>
            <a href="{{ _('case-mobili') }}.html" class="nav-item is-tab{% if page == 'case-mobili' %} is-active{% endif %}">{{ _('case mobili') }}</a>
        </div>
    </div>
</nav>
