<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <style type="text/css">
            .hero.main-hero {
                background: url('/images/Promotions/CampingPuntaIndiani_RelaxOnTheBeach_asHeadr.png') no-repeat center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
    </head>
    <body class="nojs">
        <section class="hero is-info is-large main-hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-1">
                        {{ _('offerte') }} &amp; {{ _('convenzioni') }}
                    </h1>
                </div>
            </div>
        </section>

        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left">
                    <a href="./" class="nav-item is-tab"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>Home</a>
                    <a href="#{{ _('offerta-primavera') }}" class="nav-item is-tab">{{ _('offerta primavera') }}</a>
                    <a href="#{{ _('offerta-luglio') }}" class="nav-item is-tab">{{ _('offerta luglio') }}</a>
                    <a href="#{{ _('offerta-week-end-lunghi') }}" class="nav-item is-tab">{{ _('offerta week-end lunghi') }}</a>
                    <a href="#{{ _('offerta-bici-e-tendina') }}" class="nav-item is-tab">{{ _('offerta bici e tendina') }}</a>
                    <a href="#{{ _('forfait-primavera-sul-lago') }}" class="nav-item is-tab">{{ _('forfait primavera sul lago') }}</a>
                    {% if lang != 'nl' %}
                        <a href="#{{ _('ponti-e-week-end') }}" class="nav-item is-tab">{{ _('forfait ponti/week-end') }}</a>
                    {% endif %}
                    <a href="#{{ _('convenzioni') }}" class="nav-item is-tab">{{ _('card convenzionate') }}</a>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="container content">
                <p class="title is-1">{{ _('Provate a chiudere gli occhi...') }}</p>

                <div class="columns">
                    <div class="column is-9">
                        <article class="media box">
                            <div class="media-content">
                                <div class="content">
                                    <figure class="media-left is-pulled-left">
                                        <p class="image is-128x128 has-shadow-1">
                                            <img src="/images/Team/CampingPuntaIndiani_Team_RenzoPiffer_and_AnitaMaines.jpg">
                                        </p>
                                    </figure>
                                    <p><strong>Renzo &amp; Anita</strong> <small class="is-block-mobile">fst. gen</small></p>
                                    <p>
                                        {% trans %}
                                        Vi piacerebbe far colazione in riva al lago mentre i bambini giocano liberamente sulla spiaggia?<br>
                                        Immaginate di rilassarvi sull'erba, all'ombra di un salice o sotto il sole caldo, prima di tuffarvi in acqua?<br>
                                        Vorreste poter raggiungere con una passeggiata supermarket, bar e ristoranti?<br>
                                        Se cercate una vera vacanza nella natura senza rinunciare a tutti i comforts, siete a 'Punta Indiani'.<br>
                                        Qui l'ambiente è familiare e ogni ospite è unico.
                                        {% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-offset-3 is-9">
                        <article class="media box">
                            <div class="media-content">
                                <div class="content">
                                    <figure class="media-right is-pulled-right">
                                        <p class="image is-128x128 has-shadow-1">
                                            <img src="/images/Team/CampingPuntaIndiani_Team_LorenzaPiffer_and_StefanoBrugnara_512x512.jpg">
                                        </p>
                                    </figure>
                                    <p class="has-text-right"><small class="is-hidden-mobile">snd. gen </small><strong>Lorenza &amp; Stefano</strong><small class="is-block-mobile is-hidden-tablet">snd. gen</small></p>
                                    <p>
                                        {% trans %}
                                        Potete prenotare, a piacere, un posto al lago o una delle grandi piazzole erbose ed alberate della zona nord, sempre disponendo di 400 metri di spiaggia privata.<br>
                                        Qualcuno dei vostri nuovi amici vi racconterá di quando veniva a "Punta Indiani" da piccolo con i genitori o da ragazzo con la moto e la tendina;<br>
                                        oggi è qui con la famiglia... Perchè a "Punta Indiani" si ritorna.<br>
                                        {% endtrans %}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-9">
                        <article class="media box">
                            <div class="media-content">
                                <div class="content">
                                    <figure class="media-left is-pulled-left">
                                        <p class="image is-128x128 has-shadow-1">
                                            <img src="/images/Team/CampingPuntaIndiani_Team_GiadaBrugnara.jpg">
                                        </p>
                                    </figure>
                                    <p><strong>Giada</strong> <small class="is-block-mobile">trd. gen</small></p>
                                    <p class="subtitle is-3">
                                        {{ _('Vi aspettiamo!') }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>


        <!-- promotions group -->
        <section class="hero is-light is-bold">
            <div class="hero-body">
                <div class="container">
                    <p class="title">{{ _('early booking') }}</p>
                    <p class="subtitle">{% trans %}Prenota per tempo la tua vacanza in famiglia sulla riva del Lago di Caldonazzo e anticipa l'estate con le nostre offerte.{% endtrans %}</p>
                </div>
            </div>
        </section>

        <!-- Promotion left -->
        <section class="section">
            <div class="container content is-medium is-target promotion" id="{{ _('offerta-primavera') }}">
                <div class="columns">
                    <!-- photo -->
                    <div class="column is-half"><figure class="image is-3by2"><img src="/images/Promotions/CampingPuntaIndiani_PentecostOnTheLake.jpg" alt="" class="has-shadow-1"></figure></div>
                    <!-- main description -->
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <h3 class="title is-2 is-upper">{{ _('offerta primavera') }}</h3>
                                <h5 class="subtitle is-3">{{ _("Anticipa l'estate a Punta Indiani") }}</h5>
                            </div>
                            <div class="column is-narrow">25.05.2017<br>18.06.2017</div>
                        </div>
                        <br><br class="is-target-only"><p class="subtitle has-text-centered txt-important">{{ _('solo early booking') }}</p><br>
                        <center>
                            <h1 class="title is-1">{{ _('1&nbsp;settimana 2&nbsp;persone') }}</h1>
                            <a href="index.html?promotion={{ _('offerta-primavera') }}#{{ _('prenota') }}"><p class="button is-large is-primary has-extra-padding">&euro;150</p></a>
                            <br>
                            <br class="is-target-only">
                            <br>
                            <a class="link is-secondary is-target-hide" href="#{{ _('offerta-primavera') }}">{{ _('scopri tutti i dettagli.') }}</span></a>
                        </center>
                    </div>
                </div>

                <!-- extended description -->
                <div class="columns is-target-only">
                    <div class="column">
                        <p class="subtitle">{{ _("L'offerta comprende") }}:</p>
                        <ul>
                            <li>{{ _('2 persone in piazzola Panorama o Relax') }}</li>
                            <li>{{ _('Caravan/camper/tenda + eventuali tendine in piazzola, 1 auto, elettricità  4A, acqua calda nei servizi') }}</li>
                            <li>{{ _('Trentino Guest Card in omaggio!') }}</li>
                        </ul>
                    </div>

                    <div class="column">
                        <p class="subtitle">{{ ('Estendi pacchetto') }}:</p>
                        <ul>
                            <li>+ 1 {{ _('bambino') }} [2 - 12] = + &euro;42/{{ _('settimana') }}</li>
                            <li>+ 1 {{ _('adulto') }} [&gt;12] = + &euro;70/{{ _('settimana') }}</li>
                            <li>{{ _('piazzola') }} Aqva ({{ _('supplemento') }})  = + &euro;70/{{ _('settimana') }}</li>
                        </ul>
                    </div>
                </div>

                <div class="is-target-only has-text-centered">
                    <p>
                        {{ _('Offerta valida per prenotazioni confermate entro il 31.01.2017') }}<br>
                        <small>
                            {% trans %}
                            Non cumulabile con altre offerte. La prenotazione puo' essere modificata entro il 01.03.2017.
                            Tassa soggiorno esclusa: &euro;1 a persona (anni≥14) per i primi 10 giorni di soggiorno.
                            {% endtrans %}
                        </small>
                    </p>

                    <a href="index.html?promotion={{ _('offerta-primavera') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;{{ _('offerta primavera') }}</p></a>
                </div>
            </div>
        </section>

        <!-- Promotion right -->
        <section class="section">
            <div class="container content is-medium is-target promotion" id="{{ _('offerta-luglio') }}">
                <div class="columns">
                    <!-- main description -->
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <h3 class="title is-2 is-upper">{{ _('offerta luglio') }}</h3>
                                <h5 class="subtitle is-3">{{ _('Non solo sole e lago') }}</h5>
                            </div>
                            <div class="column is-narrow">07.07.2017<br>21.07.2017</div>
                        </div>
                        <br><br class="is-target-only"><p class="subtitle has-text-centered txt-important">{{ _('solo early booking') }}</p><br>
                        <center>
                            <h1 class="title is-1">{{ _('1&nbsp;settimana 2&nbsp;persone') }}</h1>
                            <a href="index.html?promotion={{ _('offerta-luglio') }}#{{ _('prenota') }}"><p class="button is-large is-primary has-extra-padding">&euro;250</p></a>
                            <br>
                            <br class="is-target-only">
                            <br>
                            <a class="link is-secondary is-target-hide" href="#{{ _('offerta-luglio') }}">{{ _('scopri tutti i dettagli.') }}</span></a>
                        </center>
                    </div>
                    <!-- photo -->
                    <div class="column is-half"><figure class="image is-3by2"><img src="/images/Promotions/CampingPuntaIndiani_FamilyHoliday.jpg" alt="" class="has-shadow-1"></figure></div>
                </div>

                <!-- extended description -->
                <div class="columns is-target-only">
                    <div class="column">
                        <p class="subtitle">{{ _("L'offerta comprende") }}:</p>
                        <ul>
                            <li>{{ _('2 persone in piazzola Panorama o Relax') }}</li>
                            <li>{{ _('Caravan/camper/tenda + eventuali tendine in piazzola, 1 auto, elettricità  4A, acqua calda nei servizi') }}</li>
                            <li>{{ _('Trentino Guest Card in omaggio!') }}</li>
                        </ul>
                    </div>

                    <div class="column">
                        <p class="subtitle">{{ ('Estendi pacchetto') }}:</p>
                        <ul>
                            <li>+ 1 {{ _('bambino') }} [2 - 12] = + &euro;42/{{ _('settimana') }}</li>
                            <li>+ 1 {{ _('adulto') }} [&gt;12] = + &euro;70/{{ _('settimana') }}</li>
                            <li>{{ _('piazzola') }} Aqva ({{ _('supplemento') }})  = + &euro;70/{{ _('settimana') }}</li>
                        </ul>
                    </div>
                </div>

                <div class="is-target-only has-text-centered">
                    <p>
                        {{ _('Offerta valida per prenotazioni confermate entro il 31.01.2017') }}<br>
                        <small>
                            {% trans %}
                            Non cumulabile con altre offerte. La prenotazione puo' essere modificata entro il 01.03.2017.
                            Tassa soggiorno esclusa: &euro;1 a persona (anni≥14) per i primi 10 giorni di soggiorno.
                            {% endtrans %}
                        </small>
                    </p>

                    <a href="index.html?promotion={{ _('offerta-luglio') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;{{ _('offerta luglio') }}</p></a>
                </div>
            </div>
        </section>

        <!-- promotions group -->
        <section class="hero is-light is-bold">
            <div class="hero-body">
                <div class="container">
                    <p class="title">{{ _('scopri Punta Indiani') }}</p>
                </div>
            </div>
        </section>

        <!-- Promotion left -->
        <section class="section">
            <div class="container content is-medium is-target promotion" id="{{ _('offerta-week-end-lunghi') }}">
                <div class="columns">
                    <!-- photo -->
                    <div class="column is-half"><figure class="image is-3by2"><img src="/images/Promotions/CampingPuntaIndiani_ShortBreak.jpg" alt="" class="has-shadow-1"></figure></div>
                    <!-- main description -->
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <h3 class="title is-2 is-upper">{{ _('offerta week-end lunghi') }}</h3>
                                <h5 class="subtitle is-3">{{ _('Trasforma i ponti di primavera in una breve vacanza') }}</h5>
                            </div>
                            <div class="column is-narrow">28.05.2017<br>26.06.2017</div>
                        </div>
                        <br class="is-target-only"><p class="subtitle has-text-centered txt-important"></p><br>
                        <center>
                            <h1 class="title is-1">{{ _('4 giorni/3 notti 2 persone') }}</h1>
                            <a href="index.html?promotion={{ _('offerta-week-end-lunghi') }}#{{ _('prenota') }}"><p class="button is-large is-primary has-extra-padding">&euro;69</p></a>
                            <br>
                            <br class="is-target-only">
                            <br>
                            <a class="link is-secondary is-target-hide" href="#{{ _('offerta-week-end-lunghi') }}">{{ _('scopri tutti i dettagli.') }}</span></a>
                        </center>
                    </div>
                </div>

                <!-- extended description -->
                <div class="columns is-target-only">
                    <div class="column">
                        <p class="subtitle">{{ _("L'offerta comprende") }}:</p>
                        <ul>
                            <li>{{ _('2 persone in piazzola Panorama o Relax') }} {{ _("con partenza <strong>fino alle 20.00</strong> (anzichè entro le 11.00)  del quarto giorno") }}</li>
                            <li>{{ _('Caravan/camper/tenda + eventuali tendine in piazzola, 1 auto, elettricità  4A, acqua calda nei servizi') }}</li>
                        </ul>
                    </div>

                    <div class="column">
                        <p class="subtitle">{{ ('Estendi pacchetto') }}:</p>
                        <ul>
                            <li>+ 1 {{ _('bambino') }} [2 - 12] = + &euro;18/week-end</li>
                            <li>+ 1 {{ _('adulto') }} [&gt;12] = + &euro;30/week-end</li>
                            <li>{{ _('piazzola') }} Aqva ({{ _('supplemento') }})  = + &euro;30/week-end</li>
                        </ul>
                    </div>
                </div>

                <div class="is-target-only has-text-centered">
                    <p><small>{% trans %}Non cumulabile con altre offerte. Tassa soggiorno esclusa: &euro;1 a persona (anni≥14) per i primi 10 giorni di soggiorno.{% endtrans %}</small></p>

                    <a href="index.html?promotion={{ _('offerta-week-end-lunghi') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;{{ _('offerta week-end lunghi') }}</p></a>
                </div>
            </div>
        </section>

        <!-- Promotion right -->
        <section class="section">
            <div class="container content is-medium is-target promotion" id="{{ _('offerta-bici-e-tendina') }}">
                <div class="columns">
                    <!-- main description -->
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <h3 class="title is-2 is-upper">{{ _('offerta bici e tendina') }}</h3>
                                <h5 class="subtitle is-3">{{ _('Ciclisti che vivono la vacanza a contatto con la natura') }}</h5>
                            </div>
                            <div class="column is-narrow">28.04.2017<br>30.09.2017</div>
                        </div>
                        <br class="is-target-only"><p class="subtitle has-text-centered txt-important">{{ _('da solo o in gruppo') }}<sup>*</sup></p><br>
                        <center>
                            <h1 class="title is-1">{{ _('1&nbsp;persona +&nbsp;bici +&nbsp;tendina') }}</h1>
                            <a href="index.html?promotion={{ _('offerta-bici-e-tendina') }}#{{ _('prenota') }}"><p class="button is-large is-primary has-extra-padding">&euro;9</p></a>
                            <br>
                            <br class="is-target-only">
                            <br>
                            <a class="link is-secondary is-target-hide" href="#{{ _('offerta-bici-e-tendina') }}">{{ _('scopri tutti i dettagli.') }}</span></a>
                        </center>
                    </div>
                    <!-- photo -->
                    <div class="column is-half"><figure class="image is-3by2"><img src="/images/Promotions/CampingPuntaIndiani_StopoverAtTheLake.jpg" alt="" class="has-shadow-1"></figure></div>
                </div>

                <!-- extended description -->
                <div class="columns is-target-only">
                    <div class="column">
                        <p class="subtitle">{{ _("L'offerta comprende") }}:</p>
                        <ul>
                            <li>{{ _('1 persona + bicicletta + tendina') }}</li>
                            <li>{{ _('acqua calda nei servizi') }}</li>
                        </ul>
                    </div>

                    <div class="column">
                        <p class="subtitle">{{ ('Note') }}:</p>
                        <p><sup>*</sub>{{ _('per gruppi si consiglia di prenotare') }}</p>
                    </div>
                </div>

                <div class="is-target-only has-text-centered">
                    <p>
                        {{ _('Offerta valida per prenotazioni confermate entro il 31.01.2017') }}<br>
                        <small>{% trans %}Non cumulabile con altre offerte. Tassa soggiorno esclusa: &euro;1 a persona (anni≥14) per i primi 10 giorni di soggiorno.{% endtrans %}</small>
                    </p>

                    <a href="index.html?promotion={{ _('offerta-bici-e-tendina') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;{{ _('offerta bici e tendina') }}</p></a>
                </div>
            </div>
        </section>

        <!-- promotions group -->
        <section class="hero is-light is-bold">
            <div class="hero-body">
                <div class="container">
                    <p class="title">long stay</p>
                    <p class="subtitle">
                        {% trans %}
                        Prima che arrivino tutti...goditi in tutta tranquillità la primavera a Punta Indiani,
                        nuotare nel lago al mattino,  lunghe pedalate in ciclabile e passeggiate nel verde,
                        i mercati paesani e le feste tradizionali, la Valsugana da scoprire.
                        {% endtrans %}
                    </p>
                </div>
            </div>
        </section>

        <!-- Promotion left -->
        <section class="section">
            <div class="container content is-medium is-target promotion" id="{{ _('forfait-primavera-sul-lago') }}">
                <div class="columns">
                    <!-- photo -->
                    <div class="column is-half"><figure class="image is-3by2"><img src="/images/Promotions/CampingPuntaIndiani_LongHoliday.jpg" alt="" class="has-shadow-1"></figure></div>
                    <!-- main description -->
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <h3 class="title is-2 is-upper">{{ _('forfait primavera sul lago') }}</h3>
                            </div>
                            <div class="column is-narrow">28.04.2017<br>30.06.2017</div>
                        </div>
                        <br class="is-target-only"><p class="subtitle has-text-centered txt-important"></p><br>
                        <center>
                            <h1 class="title is-1">2&nbsp;{{ _('persone') }}</h1>
                            <a href="index.html?promotion={{ _('forfait-primavera-sul-lago') }}#{{ _('prenota') }}"><p class="button is-large is-primary has-extra-padding">&euro;1.100</p></a>
                            <br>
                            <br class="is-target-only">
                            <br>
                            <a class="link is-secondary is-target-hide" href="#{{ _('forfait-primavera-sul-lago') }}">{{ _('scopri tutti i dettagli.') }}</span></a>
                        </center>
                    </div>
                </div>

                <!-- extended description -->
                <div class="columns is-target-only">
                    <div class="column">
                        <p class="subtitle">{{ _("L'offerta comprende") }}:</p>
                        <ul>
                            <li>{{ _('2 persone in piazzola Panorama o Relax') }}</li>
                            <li>{{ _('Caravan/camper/tenda + eventuali tendine in piazzola, 1 auto, elettricità  4A, acqua calda nei servizi') }}</li>
                            <li>{{ _('Trentino Guest Card in omaggio!') }}</li>
                            <li>{{ _('cane - solo Relax') }}</li>
                        </ul>
                    </div>

                    <div class="column">
                        <p class="subtitle">{{ ('Estendi pacchetto') }}:</p>
                        <ul>
                            <li>{{ _('Eventuali persone aggiuntive saranno conteggiate secondo listino') }}</li>
                        </ul>
                    </div>
                </div>

                <div class="is-target-only has-text-centered">
                    <p>
                        {{ _('Disponibilità limitata.') }}<br>
                        <small>{% trans %}Non cumulabile con altre offerte. Tassa soggiorno esclusa: &euro;1 a persona (anni≥14) per i primi 10 giorni di soggiorno.{% endtrans %}</small>
                    </p>

                    <a href="index.html?promotion={{ _('forfait-primavera-sul-lago') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;{{ _('forfait primavera sul lago') }}</p></a>
                </div>
            </div>
        </section>


        {% if lang != 'nl' %}

        <!-- promotions group -->
        <section class="hero is-light is-bold">
            <div class="hero-body">
                <div class="container">
                    <p class="title">{{ _('perchè aspettare?') }}</p>
                    <p class="subtitle">{{ _('Anche se le vacanze sono ancora lontane puoi lasciare la tua roulotte a Punta Indiani e passare tutti i weekend  e i   ponti di primavera sul Lago.') }}</p>
                </div>
            </div>
        </section>

        <!-- Promotion right -->
        <section class="section">
            <div class="container content is-medium is-target promotion" id="{{ _('ponti-e-week-end') }}">
                <div class="columns">
                    <!-- main description -->
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <h3 class="title is-2 is-upper">{{ _('forfait ponti/week-end') }}</h3>
                            </div>
                            <div class="column is-narrow">28.04.2017<br>25.06.2017</div>
                        </div>
                        <br><br class="is-target-only"><p class="subtitle has-text-centered txt-important"></p><br>
                        <center>
                            <h1 class="title is-1">{{ _('2&nbsp;persone tutti&nbsp;i&nbsp;week-end e&nbsp;ponti&nbsp;di&nbsp;primavera') }}</h1>
                            <a href="index.html?promotion={{ _('ponti-e-week-end') }}#{{ _('prenota') }}"><p class="button is-large is-primary has-extra-padding">&euro;700</p></a>
                            <br>
                            <br class="is-target-only">
                            <br>
                            <a class="link is-secondary is-target-hide" href="#{{ _('ponti-e-week-end') }}">{{ _('scopri tutti i dettagli.') }}</span></a>
                        </center>
                    </div>
                    <!-- photo -->
                    <div class="column is-half"><figure class="image is-3by2"><img src="/images/Promotions/CampingPuntaIndiani_ShortBreaksAndWeekEnds.jpg" alt="" class="has-shadow-1"></figure></div>
                </div>

                <!-- extended description -->
                <div class="columns is-target-only">
                    <div class="column">
                        <p class="subtitle">{{ _("L'offerta comprende") }}:</p>
                        <ul>
                            <li>{{ _('1 Piazzola Panorama o Relax dal 28 aprile al 25 giugno') }}</li>
                            <li>{{ _('Caravan/camper/tenda + eventuali tendine in piazzola, 1 auto, elettricità  4A, acqua calda nei servizi') }}</li>
                            <li>{{ _('Trentino Guest Card in omaggio!') }}</li>
                            <li>{{ _('26 pernottamenti per 2 persone') }}</li>
                        </ul>
                    </div>

                    <div class="column">
                        <p class="subtitle">{{ ('Estendi pacchetto') }}:</p>
                        <ul>
                            <li>{{ _('Eventuali persone aggiuntive saranno conteggiate secondo listino') }}</li>
                        </ul>
                    </div>
                </div>

                <div class="is-target-only has-text-centered">
                    <p>
                        {{ _('Disponibilità limitata.') }}<br>
                        <small>{% trans %}Non cumulabile con altre offerte. Tassa soggiorno esclusa: &euro;1 a persona (anni≥14) per i primi 10 giorni di soggiorno.{% endtrans %}</small>
                    </p>

                    <a href="index.html?promotion={{ _('ponti-e-week-end') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;{{ _('forfait ponti e week-end') }}</p></a>
                </div>
            </div>
        </section>

        {% endif %}

        <!-- promotions group -->
        <section class="hero is-warning is-bold">
            <div class="hero-body">
                <div class="container">
                    <p class="title">{{ _('card convenzionate') }}</p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container content is-medium is-target" id="{{ _('convenzioni') }}">
                <h3 class="subtitle is-3">ACSI Camping Card  - ADAC/ANWB CAMP CARD -  Camping Key Europe</h3>
                <span class="is-5"><strong>28.04.2017 - 07.07.2017</strong></span><br>
                <span class="is-5"><strong>25.08-2017 - 30.09-2017</strong></span>
                <ul>
                    <li>{{ _('2 persone + 1 piazzola RELAX + 2 cani + 4A corrente = €17.00 al giorno') }}</li>
                    <li>{{ _('2 persone + 1 piazzola PANORAMA + 4A corrente = €19.00 al giorno') }}</li>
                    <li>{{ _('2 persone + 1 piazzola AQUA direttamente sul lago + 4A corrente = €27.00 al giorno') }}</li>
                </ul>
                <small>{% trans %}Non cumulabile con altre offerte. Tassa soggiorno esclusa: &euro;1 a persona (anni≥14) per i primi 10 giorni di soggiorno.{% endtrans %}</small>

                <div class="columns">
                    <div class="column"><a href="index.html?promotion={{ _('ACSI') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;ACSI</p></a></div>
                    <div class="column"><a href="index.html?promotion={{ _('ADAC') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;ADAC</p></a></div>
                    <div class="column"><a href="index.html?promotion={{ _('CKE') }}#{{ _('prenota') }}"><p class="button is-large is-primary is-fullwidth">{{ _('prenota ora') }}&nbsp;CKE</p></a></div>
                </div>
            </div>
        </section>

        {% include 'footer.inc.html' %}
        {% include 'google.inc.html' %}

    </body>

    <!--
    // vim: spelllang=it
    -->
</html>
