<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/favicon.png">

        {% include 'intern.inc.html' %}

        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
    </head>
    <body>

        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left x-menu">
                    <a href="./" class="nav-item is-tab"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>Home</a>
                    <a href="#" class="nav-item is-tab is-active">{{ _('prezzi') }}</a>
                </div>
                {% include 'lang.inc.html' %}
            </div>
        </nav>

        <section class="section">

            {% include 'prices_txt.inc.html' %}

            <div class="container">
                <div class="content is-medium">

                    <h3 class="is-capitalize">{{ _('piazzole') }}</h3>
                    <table class="table is-bordered is-capitalize">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="text-align:center">28/04 <span class="icon is-hidden-mobile"><i class="fa fa-long-arrow-right"></i></span><br class="is-hidden-tablet"> 06/07<br><small class="is-upper">{{ _('bassa stagione') }}</small></th>
                                <th style="text-align:center">06/07 <span class="icon is-hidden-mobile"><i class="fa fa-long-arrow-right"></i></span><br class="is-hidden-tablet"> 26/08<br><small class="is-upper">{{ _('alta stagione') }}</small></th>
                                <th style="text-align:center">26/08 <span class="icon is-hidden-mobile"><i class="fa fa-long-arrow-right"></i></span><br class="is-hidden-tablet"> 03/10<br><small class="is-upper">{{ _('bassa stagione') }}</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><a href="aqva.html">AQVA</a></td>        <td class="has-text-centered">&euro;33.</td><td class="has-text-centered">&euro;45.</td><td class="has-text-centered">&euro;33.</td></tr>
                            <tr><td><a href="panorama.html">PANORAMA</a></td><td class="has-text-centered">&euro;23.</td><td class="has-text-centered">&euro;42.</td><td class="has-text-centered">&euro;23.</td></tr>
                            <tr><td><a href="relax.html">RELAX</a></td>      <td class="has-text-centered">&euro;23.</td><td class="has-text-centered">&euro;38.</td><td class="has-text-centered">&euro;23.</td></tr>
                        </tbody>
                    </table>


                    <h3 class="is-capitalize">{{ _('case mobili') }}</h3>
                    <table class="table is-bordered is-narrow is-capitalize">
                        <thead>
                            <tr>
                                <th class="has-text-centered">28/04 – 02/07</th>
                                <th class="has-text-centered">02/07 – 15/07</th>
                                <th class="has-text-centered">15/07 – 26/08</th>
                                <th class="has-text-centered">26/08 – 09/09</th>
                                <th class="has-text-centered">09/09 - 30/09</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="has-text-centered">
                                <td class="has-text-centered">&euro;45.</td>
                                <td class="has-text-centered">&euro;60.</td>
                                <td class="has-text-centered">&euro;120.</td>
                                <td class="has-text-centered">&euro;60</td>
                                <td class="has-text-centered">&euro;45</td>
                            </tr>
                            <tr>
                                <td class="has-text-centered" colspan="2"><small class="is-upper">{{ _('incluse') }} 2 {{ _('persone') }}</small></td>
                                <td class="has-text-centered"><small class="is-upper">{{ _('incluse') }} 4 {{ _('persone') }}</small></td>
                                <td class="has-text-centered" colspan="2"><small class="is-upper">{{ _('incluse') }} 2 {{ _('persone') }}</small></td>
                            </tr>
                        </tbody>
                    </table>

                    <p style="text-align:center"><a href="{{ _('case-mobili') }}.html">{{ _('condizioni di vendita') }} </a></p>

                    <h3 class="is-capitalize">Extra</h3>
                    {% include 'prices_extra_table.inc.html' %}
                </div>
            </div>
        </section>

        {% include "cookies.inc.html" %}
        {% include 'footer.inc.html' %}
        {% include 'google.inc.html' %}

    </body>
    <!--
    // vim: spelllang=it
    -->
</html>
