<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/favicon.png">

        {% include 'intern.inc.html' %}

        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <style type="text/css">
            .hero.relax-hero {
                background: url('/images/Accomodations/CampingPuntaIndiani_AccomodationRelax_TheHill_asHeader.jpg') no-repeat center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
    </head>
    <body class="nojs">
        <section class="hero is-success is-large relax-hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-1 is-text-white">RELAX</h1>
                    <p><a href="index.html?pitch=relax#{{ _('prenota') }}" class="button is-upper is-success is-large">{{ _('richiedi disponibilità') }}</a></p>
                </div>
            </div>
            {% include "cookies.inc.html" %}
        </section>

        {% include 'menu-piazzola.inc.html' %}

        <section class="section">
            <div class="content container is-large">
                <h1>{{ _('Relax &amp; Privacy nel verde') }}</h1>
                <div class="big-quote" style="width:80%">
                    <p>
                        {% trans %}
                        In un prato a terrazze fra gli alberi, nella zona più tranquilla
                        del Camping, da 50 a 100 m distanti dalla spiaggia, le piazzole
                        Relax sono ampie ed adatte per gruppi di amici, famiglie numerose,
                        per chi ama il suo spazio, la privacy ed il relax e per chi viaggia
                        con un amico a quattro zampe.
                        {% endtrans %}
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="columns">
                    <figure class="column is-one-third image is3by2"><img src="/images/Accomodations/CampingPuntaIndiani_AccomodationRelax_InTheNature.jpg" alt="{% trans %}Grande piazzola sull'erba sotto gli alberi nella natura del Camping Punta Indiani{% endtrans %}"></figure>
                    <figure class="column is-one-third image is3by2"><img src="/images/Accomodations/CampingPuntaIndiani_AccomodationRelax_Romantic.jpg" alt="{% trans %}Coppia con moto e tenda seduta sotto gli alberi al Campeggio Punta Indiani. Lo spirito originale del campeggio{% endtrans %}"></figure>
                    <figure class="column is-one-third image is3by2"><img src="/images/Accomodations/CampingPuntaIndiani_AccomodationRelax_DogWelcome.jpg" alt="{% trans %}Cane pastore del Lagorai sull'erba nell'area Piazzole Relax.Vacanza con il cane Camping Punta Indiani{% endtrans %}"></figure>
                </div>
            </div>

            <br>

            <div class="container content has-text-centered"><p><a href="index.html?pitch=relax#{{ _('prenota') }}" class="button is-upper is-success is-large is-fullwidth">{{ _('richiedi disponibilità') }}&nbsp;RELAX</a></p></div>
        </section>


        <section class="section">
            {% include 'prices_txt.inc.html' %}
        </section>

        <section class="hero is-success accomodation-prices">
            <div class="hero-body has-stripe">
                <div class="container">
                    <div class="level content">
                        <div class="level-item has-text-centered">
                            <p class="heading">Inc. 2 adulti</p>
                            <p class="title">
                                <span class="icon is-large"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="icon is-large"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <span class="icon is-large"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </p>
                        </div>
                        <div class="level-item has-text-centered">
                            <p class="heading">
                                {{ _('bassa stagione') }}<br>
                                28/04 - 07/07
                            </p>
                            <p class="title">&euro;23.</p>
                        </div>
                        <div class="level-item has-text-centered is-stripe">
                            <p class="heading">
                                {{ _('alta stagione') }}<br>
                                07/07 - 26/08
                            </p>
                            <p class="title">&euro;38.</p>
                        </div>
                        <div class="level-item has-text-centered">
                            <p class="heading">
                                {{ _('bassa stagione') }}<br>
                                26/08 - 30/09
                            </p>
                            <p class="title">&euro;23.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section">
            {% include 'prices_extra_table.inc.html' %}
            <div class="container content has-text-centered"><p><a href="index.html?pitch=relax#{{ _('prenota') }}" class="button is-upper is-success is-large is-fullwidth">{{ _('richiedi disponibilità') }}&nbsp;RELAX</a></p></div>
        </section>

        {% include 'footer.inc.html' %}
        {% include 'google.inc.html' %}

    </body>

    <!--
    // vim: spelllang=it
    -->
</html>
