{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
<h4>(WANDEL)TOCHTJES IN OMGEVING CALDONAZZO-MEER</h4>
<br>
<dl>
<dt>IJsmeertje/Lago di Erdemolo</dt>
<dd>
Voor velen een bekende en geliefde wandeling.<br>
Ga vanaf camping met auto naar Pergine Centro. Dan bruine borden volgen met Val di Mocheni. Je passeert thermenplaats Sant&#8216; Orsola.<br>
Dan Pal&#249 del Fersina aanhouden en in dit dorp links aanhouden. Borden volgen met Lago di Erdemolo. <br>
Auto ergens langs de kant parkeren en dan wandelen naar het hoger gelegen meertje.  Wandeling van een kleine 2 uur.<br>
Meertje dankt zijn naam aan het feit, dat het meertje tot medio juli bedekt is met ijs en sneeuw. Vaak glijden kinderen met vuilniszakken een stuk naar beneden.  <br>
Boven bij meertje staat Rifugio. Je kunt daar links langs lopen en terugkeren naar de auto. Bij elkaar ben je dan 5 uur zoet.<br>
Anders weg terug, die je ook heen hebt gelopen.<br>
<br>
</dd>
<dt>Koper/zilvermijn</dt>
<dd>
Op weg naar ijsmeertje vind je halverwege een schitterend gerestaureerde koper/ zilvermijn. Deze is met weinig inspanning lopend te bereiken. Parkeren bij Auitstolice Rina.<br>
Je moet wel van tevoren in Calceranica bij de VVV (op het marktpleintje naast het gemeentehuis) een afspraak maken. Er is dan een gids. Bij VVV is Nederlands sprekend meisje waar je ook andere informatie kunt opvragen.<br>
<br>
</dd>
<dt>Baselga di Pin&#232;</dt>
<dd>
Vanaf camping richting Pergine. Richting centrum en bij kerk (bij rotonde) rechts af. Daarna bruine borden naar Baselga di Pin&#232;. Leuk Italiaans dorpje dat met name in de schaatswereld bekendheid heeft vanwege de prachtige ijsbaan die er ligt. IJsbaan ligt net buiten het dorp en zou ook in de zomer worden gebruikt.<br>
Verderop ligt een leuk meertje (Lago delle Piazze) met waterval en daar kan je heerlijk wandelen.<br>
04. Forte di Vezzena<br>
Vanaf de camping zie je op de berg in front een fort liggen. Het forte di Vezzena. Is in de Eerste Wereldoorlog erg belangrijk geweest in de strijd tussen Oostenrijkers en Italianen.<br>
Dat fort kan je als volgt bereiken:<br>
Bij Caldonazzo (door het dorp) de Kaiser Jägerweg op. Als je de pas bent gepasseerd en bent afgedaald kom je op een T-kruising. Daar linksaf richting Passo di Vezzena.<br>
(Als je de KJ-weg niet wilt rijden kan je er ook komen via Calcenarica, Vattaro, Lavarone en dan weg naar Passo di Vezzena).<br>
Net voor de pas ligt een restaurant (links van de weg). Daar auto parkeren en verder wandelen. Eerst kom je  bij Forte Busa Verde en daarna via een breed, deels geasfalteerd wandelpad bij het hoger gelegen Forte di Vezzena.<br>
<br>
</dd>
<dt>Panarotta. Berg op net 2000 meter.</dt>
<dd>
Vanaf de camping richting Levico. Daar bruine borden volgen met Panarotta. Op grotev geasfalteerde parkeerplaats auto achterlaten en sluiten. Laat geen waardevolle zaken in de auto. Ga dan wandelen naar de top. Duur pakweg 3 kwartier. Helemaal bovenop staat een zendmast of iets dergelijks. Even daar beneden is een plaats waar je Levico en de beide meren (Caldonazzo en Levico) goed kan zien liggen. Zelfde weg terug of als je een heel lange wandeling wilt maken, kan je bovenaan links over twee bergkammen terug, maar die tocht moet je van tevoren goed bestuderen en let op het weer. Met name in de middag kan het snel dichtrekken en gaan regenen.<br>
Afdaling met de auto: bij viersprong rechts aanhouden naar Pergine. Leuke route.<br>
<br>
</dd>
<dt>Trento en waterval</dt>
<dd>
<del datetime="2014-08-02T14:45:00+01:00">
Vlak bij Trento ligt een leuke waterval in een mooie Schlucht. Vanaf camping richting Trento. Neem afslag San Don&#224 en draai rechts onder de weg door. Aan het eind van de straat rechts en vrij snel links. Weg klimt iets en er staan spiegels langs de weg. Je komt bij restaurant Ponte Alto. Mocht je de weg kwijt raken, vraag dan naar Ponte Alto. Daar parkeren en via het restaurant kan je tegen betaling afdalen naar de Schlucht en de waterval. Loop zo ver mogelijk door. Je kunt 'achter de val' komen. Als er water stroomt, is dat een heel leuk gezicht. Je kunt er wat nat worden.<br>
</del>
Na bezoek aan de val - en wat drinken? - kan je doorrijden naar Trento. Heeft heel mooi centrum met twee mooi kerken: de Dom en de Maria Maggiore kerk. In die laatste kerk is het bekende en beruchte concilie van Trente (Trento) gehouden. Tijdens die kerkelijke vergadering werd Luther in de ban gedaan en de protestanten tot ketters verklaard. In de kerk zijn nog altijd attributen, die aan dat concilie herinneren en aan de processie die ter gelegenheid van het concilie is gehouden.<br>
Bij het station is een mooi park. In het centrum staat een groot beeld van de bekende dichter Dante, die in Trento heeft geleefd en gewerkt.<br>
<br>
</dd>
<dt>Santa Caterina - San Vito</dt>
<dd>
Vanaf de camping weg oversteken en links naar boven naar Santa Caterina. Even voor het dorpje weg naar rechts. Je gaat dan hoger en bovenaan bij een boerderij naar rechts. Je gaat dan richting S. Vito. Daar dalen naar Canale en via de weg terug naar de camping. Wandeling van ongeveer anderhalf uur als je doorloopt. Mooie  route.<br>
<br>
</dd>
<dt>Santa Caterina - Bosentino</dt>
<dd>
Vanaf de camping weg oversteken en links naar boven naar Santa Caterina. In dorpje de kerk bezichtigen. Paar jaar geleden gerestaureerd. Voorts doorlopen (rechts om het dorpspleintje) en dan links richting Bosentino. Je kunt dezelfde weg terug. Je kan van Bosentino ook via de weg dalen naar Calcerania en daar langs het meer teruglopen naar de camping. Doe je dit laatst loop dan over het voetpad langs het meer en niet over de weg.<br>
<br>
</dd>
<dt>Montagnaga</dt>
<dd>
Van camping richting Pergine en dan in centrum rechtsaf. Borden volgen naar Montagnaga. Even voorbij het dorpje in een T-splitsing. Er loopt een weg schuin omhoog. Naar het schijnt. Weg gaat naar beneden, maar het is een leuk effect om b.v. een bal 'tegen de berg op' te zien rollen. In het dorpje kunnen je leuk wandelen en het bedevaartsoord bezichtigen. Zo'n honderd jaar geleden zou Maria hier zijn <br>
verschenen. In de kapel kruipen nog dagelijks mensen op hun knieën en trap op naar boven om boeten te doen. In het centrum staat en kerk met in een zaaltje allerlei herinneringen aan verschijningen van Maria dan wel acties van Maria om iemand te beschermen en te genezen.<br>
<br>
</dd>
<dt>Borgo en Manghen-pas</dt>
<dd>
Vanuit camping naar Levico en kort voor Levico weg naar Venetie. Na 15 km kom je in Borgo. Op woensdag is er markt. Ook leuk plaatsje om er wat te wandleen en te bekijken. Je kunt ook naar het kasteel van Borgo wandelen.<br>
Vanuit Borgo kan je een tocht maken naar de Manghen-pas. Zeer de moeite waard. Bovenop stop voor het uitzicht. Je kunt dezelfde weg teruggaan, maar ook afdalen naar Castello-Molina di Fiemme. Daar links af het dorpje in en na pakweg 200 m links staat een huis met gevel waarop allerlei koppen zijn geschilderd. Je kan daar niet stoppen (te smal), maar even verderop wel en teruglopen om de gevel te zien. Erg leuk.<br>
Dan naar Segonzano. Daar zijn die eigenaardige grondpiramiden te bezichtigen. het is wel even een klim naar boven. Er is een goed restaurantje. Vervolgens via het Valle di Cembra (prachtige rit) terug naar Pergine en de camping. Dit is een dagtocht.<br>
<br>
</dd>
<dt>Valle di Genova</dt>
<dd>
Een wat langere autotocht naar het hooggebergte. Vanuit de camping richting Trento en vandaar naar Tione, richting Madonna di Campiglio (wintersportoord). Bij Carisolo links af richting B&#233dole. Je komt dan in het Valle di Genova. Daar passeer je op een gegeven moment een grote waterval van 80 m, de Fontana Bona. In het iets verderop gelegen Bédole waan je je aan het eind van de wereld. Je bent dan in het Adamello-gebergte.<br>
</dd>
</dl>

<footer class="center"><h5>&copy; Meindert Leerling<br><em>- Guest and Friend of Punta Indiani -</em></h5></footer>
{% endblock %}
