<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>{{title|capitalize}}</title>

    <!-- Google internalization -->
    <link rel="alternate" hreflang="x-default" href="/eng/{{page}}.html">
    <link rel="alternate" hreflang="en" href="/eng/{{page}}.html">
    <link rel="alternate" hreflang="it" href="/ita/{{page}}.html">
    <link rel="alternate" hreflang="de" href="/ger/{{page}}.html">
    <link rel="alternate" hreflang="nl" href="/ned/{{page}}.html">


    <!-- A little bit of egocentrism :p -->
    <meta name="author" content="Martin Brugnara <martin.brugnara@gmail.com">

    <!-- Google -->
    <meta name="google-site-verification" content="h7NhDkvsryR3wPb1KDHoRfajA7moBLGymNKtzpgerJ8"/>
    <meta name="description" content="Camping Punta Indiani snc - Lago Caldonazzo - Italy - Trentino - Camping">

    <!-- IE compatibility shit -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- favicons -->
    <!-- firefox and favicon.ico ... DIO .. :( -->
    <link rel="icon" href="/favicon.ico"> <!-- real location: /static/favicon/favicon.ico -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/favicon-72.png">
    <link rel="apple-touch-icon" href="/static/favicon/favicon-57.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/static/favicon/favicon-144.png">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <!-- Thanks faviconit.com -->

    <!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>

<!--
    <link rel="stylesheet" href="../static/css/CampingPuntaIndiani.min.css">
    <script type="text/javascript" src="../static/js/CampingPuntaIndiani.min.js"></script>
-->
    <link rel="stylesheet" href="../static/css/CampingPuntaIndiani.css">
    <script type="text/javascript" src="../static/js/CampingPuntaIndiani.js"></script>

    <noscript>
        <style type="text/css">
            #header-slide-show {list-style:none; margin-top: 40px;}
            #header-slide-show li {display: none;}
            #header-slide-show li:first-child {display: block;}
        </style>
    </noscript>
    {% block head %}{% endblock %}
</head>
<body>
  <section name="lang">
    <a href="../en/{{ page }}.html" target="_self"><i class="flag flag-en">&nbsp;</i></a>
    <a href="../nl/{{ page }}.html" target="_self"><i class="flag flag-nl">&nbsp;</i></a>
    <a href="../de/{{ page }}.html" target="_self"><i class="flag flag-de">&nbsp;</i></a>
    <a href="../it/{{ page }}.html" target="_self"><i class="flag flag-it">&nbsp;</i></a>
  </section>

    <header>
      <img id="logo" src="../static/img/Logo.png" alt="logo">
      <p id="brand">Camping Punta Indiani</p>
    </header>
    <section id="menu">
      <ul class="only-vert">
        <li>Menu<i class="icon icon-open">&nbsp;</i><i class="icon icon-close">&nbsp;</i></li>
      </uL>
      <ul>
        {% for p in pages %}
        <li {% if page == p.0 %}class="selected"{% endif %}>
          <a href="{% if page != p.0 %}{{ p.0 }}.html{% else %}#{% endif %}">{{ p.1 }}</a>
        </li>
        {% endfor %}
      </ul>
      <ul class="pull-right">
        <li class="booking" {% if page == "booking" %}class="pure-menu-selected"{% endif %}>
          <a href="booking.html">{{ _("booking") }}</a>
          <!-- <a href="http://booking.campingpuntaindiani.it">{{ _("booking") }}</a> -->
        </li>
      </ul>
    </section>

    <ul class="bxslider" id="header-slide-show">
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader0.jpg" alt="Camping Punta Indiani"></li>
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader1.jpg" alt="Camping Punta Indiani"></li>
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader2.jpg" alt="Camping Punta Indiani"></li>
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader3.jpg" alt="Camping Punta Indiani"></li>
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader4.jpg" alt="Camping Punta Indiani"></li>
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader5.jpg" alt="Camping Punta Indiani"></li>
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader6.jpg" alt="Camping Punta Indiani"></li>
      <li><img src="../static/img/slideshow/CampingPuntaIndianiHeader7.jpg" alt="Camping Punta Indiani"></li>
    </ul>

    <section id="news">
      <div>
        News
      </div><div>
        {% for (title, n) in news %}
        <p><span data-title>{{ title }}</span>&nbsp;<span data-news>{{ n }}</span></p>
        {% endfor %}
      </div>
    </section>

<!-- BODY START -->
    {% block body %}{%  endblock %}
<!-- BODY END -->

    <footer>
        <section class="ref expand center">
            <img src="../static/img/footer/trentino.gif" alt="Trentino">
            <img src="../static/img/footer/valsugana.png" alt="Valsugana">
            <img src="../static/img/footer/adac.jpg" alt="ADAC">
            <img src="../static/img/footer/wifi.png" alt="wifi">
            <img src="../static/img/footer/zoover.png" alt="Zoover winner 2012">
            <img src="../static/img/footer/ecc.jpg" alt="ECC">
            <img src="../static/img/footer/anwb.png" alt="ANWB">
            <img src="../static/img/footer/dcc.gif" alt="DCC"/>
        </section>
        <section class="half preserve">
            <address>
                <strong>Camping Punta Indiani</strong><br>
                38057 Valcanover Pergine<br>
                (TN) ITALY<br>
                <abbr title="Phone">Phone: 0461 548062</abbr><br>
                <a class="h" href="mailto:info@campingpuntaindiani.it">info@campingpuntaindiani.it</a>
            </address>
        </section><section class="half right preserve">
            <br>
            &copy; <a href="mailto:martin.brugnara@gmail.com">Martin Brugnara</a> 2010-2015<br>
            <p><small>Last update : <time datetime="{{ now }}">{{ now }}</time></small><p>
            <br>
        </section>
        <section class="expand center">
        Camping Punta Indiani Snc  di Piffer Renzo e C. - P.IVA 01834810226 <br>
        </section>
    </footer>

    <div id="modal">
        <section>
            <a href="#" data-action="close">&otimes;</a>
            <section name="modal-content"><!-- load here via AJAX --></section>
        </section>
    </div>
</body>
</html>
