<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>{{title|capitalize}}</title>

    <!-- Google internalization -->
    <link rel="alternate" hreflang="x-default" href="/eng/{{page}}">
    <link rel="alternate" hreflang="en" href="/eng/{{page}}">
    <link rel="alternate" hreflang="it" href="/ita/{{page}}">
    <link rel="alternate" hreflang="de" href="/ger/{{page}}">
    <link rel="alternate" hreflang="nl" href="/ned/{{page}}">


    <!-- A little bit of egocentrism :p -->
    <meta name="author" content="Martin Brugnara <martin.brugnara@gmail.com">

    <!-- Google -->
    <meta name="google-site-verification" content="h7NhDkvsryR3wPb1KDHoRfajA7moBLGymNKtzpgerJ8"/>
    <meta name="description" content="Camping Punta Indiani snc - Lago Caldonazzo - Italy - Trentino - Camping">

    <!-- IE compatibility shit -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- favicons -->
    <!-- firefox and favicon.ico ... DIO .. :( -->
    <link rel="icon" href="/favicon.ico"> <!-- real location: /static/favicon/favicon.ico -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/static/favicon/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/static/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/favicon-72.png">
    <link rel="apple-touch-icon" href="/static/favicon/favicon-57.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/static/favicon/favicon-144.png">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <!-- Thanks faviconit.com -->

    <!-- Thanks google cdn -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/css/pure-min.css">
    <link rel="stylesheet" href="../static/css/CampingPuntaIndiani.css">


    <style type="text/css">
        /* news hack */
        {%  if news|count == 0 %}
            #news {display: none;}
        {% else%}
        {% set duration = 5 %}
        {%  for x in news %}
        #news figure:nth-child({{ loop.index }}) {
            animation: xnofade {{ duration * loop.length }}s {{ (loop.index - 1) * duration }}s infinite;
        }
        {%  endfor  %}

        @keyframes xnofade {
            0%{opacity:0;}
            2%{opacity:1;}
            {{ (100 / news|count) - 2 }}%{opacity:1;}
            {{ 100 / news|count }}%{opacity:0;}
            100% {opacity:0;}
        }
        {% endif %}

    </style>


    {% block head %}{% endblock %}
</head>
<body>
    <!-- Menu -->
    <div id="topmenu" class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="#" class="pure-menu-heading">Camping Punta Indiani</a>
        <ul>
            {% for p in pages %}
            <li {% if page == p %}class="pure-menu-selected"{% endif %}>
                <a href="{% if page != p %}{{ p }}.html{% else %}#{% endif %}">{% trans %}{{ p }}{% endtrans %}</a>
            </li>
            {% endfor %}
        </ul>

        <ul class="pull-right">
            <li {% if page == "booking" %}class="pure-menu-selected"{% endif %}>
                <a href="http//booking.campingpuntaindiani.it">{{ _("booking") }}</a>
            </li>
            <li>
                <i class="vsep"></i>
            </li>

            <li>
                <a class="nostyle" href="../en/{{ page }}.html" target="_self"><i class="flag flag-en"></i></a>
                <a class="nostyle" href="../nl/{{ page }}.html" target="_self"><i class="flag flag-nl"></i></a>
                <a class="nostyle" href="../de/{{ page }}.html" target="_self"><i class="flag flag-de"></i></a>
                <a class="nostyle" href="../it/{{ page }}.html" target="_self"><i class="flag flag-it"></i></a>
            </li>
        </ul>
    </div>
    <!-- end menu -->

    <!-- CSS3 only slide show -->
    <div class="pure-g">
        <div class="pure-u-1-5"><!-- offset --></div>
        <div id="top-slide-show" class="pure-u-3-5 css-slideshow">
            {% for i in range(0,8) %}
                <figure>
                    <img src="../static/img/slideshow/CampingPuntaIndianiHeader{{ i }}.jpg" alt="Camping Punta Indiani header {{ i }} " class="pure-img">
                    <!-- <figcaption></figcaption> -->
                </figure>
            {%  endfor %}
        </div>
    </div>
    <!-- end slide show -->

    <!-- CSS3 only news -->
       <div class="pure-g">
        <div class="pure-u-1-5"><!-- offset --></div>
        <!-- CSS3 only slide show -->
        <div id="news" class="pure-u-3-5 css-slideshow">
            {% for (title, n) in news %}
            <figure><span data-title>{{ title }}</span> {{ n }}</figure>
            {% endfor %}
        </div>
    </div>
    <!-- end news -->

    {% block body %}{%  endblock %}
</body>
</html>
