{% extends 'base.tpl.html' %}
{% block head %}
    <script type="text/javascript" src="../static/js/jquery.blueimp-gallery.min.js"></script>
{% endblock %}

{% block body %}

    {% include 'album.tpl.html' %}

    <header class="gallery-title">Videos</header>

    <section class="video">
        <iframe src="http://www.youtube.com/embed/PqUCQyr6FtE" webkitallowfullscreen="1" mozallowfullscreen="1" allowfullscreen="1" frameborder="0"></iframe>
        <footer>Video - J. Brouwers Production - Thanks again</footer>
    </section>

    <section class="video">
        <iframe src="http://player.vimeo.com/video/8970989" webkitallowfullscreen="1" mozallowfullscreen="1" allowfullscreen="1" frameborder="0"></iframe>
        <footer><a href="http://vimeo.com/8970989">Camping Punta Indiani</a> from <a href="http://vimeo.com/renzomobiel">Renzo</a> on <a href="http://vimeo.com">Vimeo</a>.</footer>
    </section>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">&lt;</a>
        <a class="next">&gt;</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock %}
