{%  extends 'base.tpl.html' %}
{%  block head %}
<!-- nothing to include -->
{% endblock %}

{% block body %}
    <strong>{% trans %}Close your eyes...{% endtrans %}</strong>
    <p>{% trans %}
    Would you like to have breakfast on the shore of the lake while the children are playing on the beach?<br>
    Can you imagine yourself relaxing on the grass in the shade of a weeping pillow, or under the warm sun, before taking a dip in the water?<br>
    Would you like to be within walking distance of a supermarket, bank, pub, and restaurant?<br>
    If you are looking for a real holiday in nature without abandoning all comforts, you are most welcome at Camping Punta Indiani.<br>
    Here the atmosphere is friendly and every guest is special.
    {% endtrans %}</p>

    <p>{% trans %}
    You can book, as you wish, a lakeside site or one of the large grass pitches under the trees in the northern area, always with 400 meters of private beach at your disposal.<br>
    Some of your new friends will tell you about the time they used to come to Punta Indiani with their parents when they were small, or as teenagers with a motorbike and a tent.<br>
    Today they are here with the family... because one always returns to Punta Indiani.<br>
    We are waiting to welcome you.
    {% endtrans %}</p>
{% endblock %}