<!DOCTYPE html>
<html lang="en">
<head>
  <noscript>
    <meta http-equiv="refresh" content="0; url=en/home.html">
  </noscript>
  <script type="text/javascript">
  <!--
    window.onload = function(){
      switch(window.navigator.language) {
        case "de":
          window.location = "de/home.html"
          break;
        case "nl":
          window.location = "nl/home.html"
          break;
        case "it":
          window.location = "it/home.html"
          break;
        default:
          window.location = "en/home.html"
      };
    };
  //-->
  </script>
</head>
<body>
</body>
</html>
