{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
    <ul class="info-list">
        <li>
            <picture>
                <source media="(min-width: 992px)"  src="../static/img/offers/CampingKeyEurope_h.jpg">
                <source media="(max-width: 991px)"  src="../static/img/offers/CampingKeyEurope_l.jpg">
                <img class="rounded" src="../static/img/offers/CampingKeyEurope_h.jpg" alt="Camping Key Europe">
            </picture>
            <strong class="big">Camping Key Europe</strong><br>
            <span>
                {% trans %}
                Low Season: 2 People + 1 Pitch B o C = €18 a day
                {% endtrans %}
            </span>
            <div class="nubb"></div>
        </li>
        <li>
            <picture>
                <source media="(min-width: 992px)"  src="../static/img/offers/Cyclists_h.jpg">
                <source media="(max-width: 991px)"  src="../static/img/offers/Cyclists_l.jpg">
                <img src="../static/img/offers/Cyclists_h.jpg" alt="Cyclists">
            </picture>
            <strong class="big">{{ _('offer cyclists') }}</strong><br>
            <span>
                {% trans %}
                     Guests who arrive by bicycle and tent, pay ALWAYS (high and low season) only €9.00 a day all incl.
                {% endtrans %}
            </span>
            <div class="nubb"></div>
        </li>
    </ul>
{% endblock %}
