{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
    <p>
    {% trans %}
        You can make a reservation after the first of January.
        Be aware that Punta Indiani is a familycamping, with lots of returning guests.
        We recommend you to make your reservation in time.
        For the months july and august we suggest a reservation.
    {% endtrans %}
    </p>

    <table class="prices-table">
        <!--
        <caption>
        -->
        <colgroup>
            <col class="title">
            <col class="price">
            <col class="price">
            <col class="price">
            <col class="price">
        </colgroup>
        <thead>
          <th>2014</th>
          <th>27-04 : 30-06</th>
          <th>01-07 : 10-07</th>
          <th>11-07 : 24-08</th>
          <th>25-08 : 30-09</th>
        </thead>
        <tbody>
          <tr>
            <td class="red">{{ _('pitch') }} A</td>
            <td>10.00</td>
            <td class="special">16.00</td>
            <td>18.00</td>
            <td>10.00</td>
          </tr>
          <tr>
            <td class="green">{{ _('pitch') }} B</td>
            <td class="gratis"></td>
            <td class="special">13.00</td>
            <td>15.00</td>
            <td class="gratis"></td>
          </tr>
          <tr>
            <td class="gray">{{ _('pitch') }} C</td>
            <td class="gratis"></td>
            <td class="special">11.00</td>
            <td>12.00</td>
            <td class="gratis"></td>
          </tr>
          <tr>
            <td>{{ _('person') }}</td>
            <td>10.00</td>
            <td class="special">10.00</td>
            <td>11.00</td>
            <td>10.00</td>
          </tr>
          <tr>
            <td>{{ _('child') }} [2-12]</td>
            <td>6.00</td>
            <td class="special">6.00</td>
            <td>6.50</td>
            <td>6.00</td>
          </tr>
          <tr>
            <td>Extra&sup1;</td>
            <td>5.00</td>
            <td>5.00</td>
            <td>5.00</td>
            <td>5.00</td>
          </tr>
          <tr>
            <td>{{ _('visitor') }}&sup2;</td>
            <td >9.00</td>
            <td >9.00</td>
            <td >9.00</td>
            <td >9.00</td>
          </tr>
          <tr>
            <td>{{ _('dog') }}&sup3;<td>
            <td >4.00</td>
            <td >4.00</td>
            <td >5.00</td>
            <td >4.00</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
              <td colspan="5">
             &sup1;&rpar; {{ _('2nd car | small tent | boats, etc.. Outside the place.') }}<br>
             &sup2;&rpar; {{ _('each visit has to be pre-authorized by direction.') }}<br>
             &sup3;&rpar; {{ _('dog entrance must be pre-authorized by the Management.') }}<br>
             {{ _('at the following') }} <a href="pet_disclaimer.html" target="_blank" data-mode="modal">{{ _('conditions') }}</a>
          </td>
            </tr>
        </tfoot>
      </table>
{% endblock %}