{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
    {% trans %}
You can make a reservation after the first of January.<br>
Be aware that Punta Indiani is a familycamping, with lots of returning guests.<br>
We recommend you to make your reservation in time.<br>
For the months july and august we suggest a reservation.<br>
    {% endtrans %}

    <table class="prices-table">
        <!--
        <caption>
        -->
        <thead>
            <th>2015</th>
            <th>01-05 : 05-07</th>
            <th>05-07 : 24-08</th>
            <th>24-08 : 30-09</th>
        </thead>
        <tbody>
            <tr>
                <td class="red">{{ _('pitch') }} A</td>
                <td>10.00</td>
                <td>18.00</td>
                <td>10.00</td>
            </tr>
            <tr>
                <td class="green">{{ _('pitch') }} B</td>
                <td class="gratis"></td>
                <td>15.00</td>
                <td class="gratis"></td>
            </tr>
            <tr>
                <td class="gray">{{ _('pitch') }} C</td>
                <td class="gratis"></td>
                <td>12.00</td>
                <td class="gratis"></td>
            </tr>
            <tr>
                <td>{{ _('person') }}</td>
                <td>10.00</td>
                <td>11.00</td>
                <td>10.00</td>
            </tr>
            <tr>
                <td>{{ _('child') }} [2-12]</td>
                <td>6.00</td>
                <td>6.50</td>
                <td>6.00</td>
            </tr>
            <tr>
                <td>Extra&sup1;</td>
                <td>5.00</td>
                <td>5.00</td>
                <td>5.00</td>
            </tr>
            <tr>
                <td>{{ _('visitor') }}&sup2;</td>
                <td>9.00</td>
                <td>9.00</td>
                <td>9.00</td>
            </tr>
            <tr>
                <td>{{ _('dog') }}&sup3;</td>
                <td>4.00</td>
                <td>5.00</td>
                <td>4.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <p>&sup1; {{ _('2nd car | small tent | boats, etc.. Outside the place.') }}</p>
                    <p>&sup2; {{ _('each visit has to be pre-authorized by direction.') }}</p>
                    <p>&sup3; {{ _('dog entrance must be pre-authorized by the Management and must comply the following') }} <a class="h" href="pet_disclaimer.html" target="_blank" data-mode="modal">{{ _('conditions') }}</a></p>
                </td>
            </tr>
        </tfoot>
    </table>

    <br>
    <br>

    <figure class="prices-pitch">
        <h4>{{ _('pitch') }} A</h4>
        <img src="../static/img/prices/placeA.jpg" alt="Place A">
        <figcaption>
        {% trans %}
Pitches direct on the water.
From 50mq to 70mq. 
External parking lot included.
Dogs not allowed.
        {% endtrans %}
        </figcaption>
    </figure><figure class="prices-pitch">
        <h4>{{ _('pitch') }} B</h4>
            <div><img src="../static/img/prices/placeB.jpg" alt="Place B"></div>
        <figcaption>
        {% trans %}
Pitches near the water but not directly on.
From 60mq to 80mq. 
The smaller  have got external parking lot included.
Dogs generally not allowed.
        {% endtrans %}
        </figcaption>
    </figure><figure class="prices-pitch">
        <h4>{{ _('pitch') }} C</h4>
        <div><img src="../static/img/prices/placeC.jpg" alt="Place C"></div>
        <figcaption>
        {% trans %}
Wooded and grassy pitches.
From 70mq to 100mq. 
Dogs always allowed, after pre-authorization from the Management.
        {% endtrans %}
        </figcaption>
    </figure>
{% endblock %}
