{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
<pre>
CAMPING PUNTA INDIANI
38057 Valcanover – Pergine (TN)
Tel 0461 548062
Fax 0461 548607
Fax invernale 0461 240508
www.campingpuntaindiani.it
info@campingpuntaindiani.it

Ai sensi dell’articolo 13 del D.Lgs. 30 giugno 2003 n. 196
La informiamo che i Vs dati personali verranno utilizzati
da Camping Punta Indiani per l’invio di materiale informativo-promozionale
e per le formalità di prenotazione e registrazione relative all’attività
di Camping Punta Indiani.

La informiamo, inoltre, che i Vs dati personali non saranno comunicati a
terzi e che in relazione al trattamento in parola potrà chiedere al
titolare, in qualsiasi momento, la modifica, la correzione o la
cancellazione dei dati (art. 7 legge citata). Qualora non desiderasse
più ricevere eventuale nostro materiale informativo e promozionale,
potrà inviarci una mail o scrivere al titolare del trattamento:
Camping Punta Indiani – 38057 Pergine TN – info@campingpuntaindiani.it
</pre>
{% endblock %}
