{% extends 'base.tpl.html' %}
{% block head %}
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBoAQvmSSuH0olUcnb1pWVHUDLLsGLdnoY&sensor=false"></script>
{% endblock %}

{% block body %}
<p>
    <strong>{{ _('easy way') }}</strong><br>
    {% trans %}
Camping Punta Indiani is situated in North Italy, region Trento.<br>
On the highway A22 {autostrada del Brennero} take exit Trento-Nord.<br>
Follow SS47 {Superstrada della Valsugana} in the direction of Padova.<br>
When passing Pergine take the exit right towards Lago di Caldonazzo.<br>
After 500 m you see a sign Camping Punta Indiani.
    {% endtrans %}
</p>

<br>

<div class="route-half right">
    <img src="../static/img/route/RoadFromTrento.png" alt="Road from Trento">
</div><div class="route-half left">
    <img src="../static/img/route/LocationOnCaldonazzoLake.png" alt="Location on Caldonazzo Lake">
</div>

<br>

<strong>GPRS:</strong> <span class="lato">46&ordm; 1&apos; 41.7&apos;&apos; N - 11&ordm; 13&apos; 57.6&apos;&apos; E</span> | <a class="h" href="https://www.google.it/maps/place/Punta+Indiani/@46.027988,11.232662,17z/data=!3m1!4b1!4m2!3m1!1s0x47789e13025cd831:0xd5c1e8a889a3283?hl=en" target="_blank">{{ _('view on Google') }}</a>
<div id="map"></div>

{% endblock %}
