{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
<h3>{{ _('CAMPING REGULATIONS') }}</h3>
<ol>
  <li>{{ _('Management authorisation and legal registration is compulsory to access the camping site.') }}</li>
  <li>{{ _('The prices exhibited at the reception for the stay at the camping site are valid from arrival to 11.00 a.m. of the following day.') }}</li>
  <li>{{ _('To take possession of your tent or caravan pitch you must be authorised by the management.') }}</li>
  <li>{{ _('You can leave vehicles only in the places indicated by the management.') }}</li>
  <li>{{ _('Silence is essential from 11.00 p.m. to 8.00 a.m.; limit the noise during the day; television is tolerated only if at very low volume.') }}</li>
  <li>{{ _('Guests must take care of their belongings; the management declines all responsibilities for any theft or damage except for the objects that have been left in custody with regular receipt.') }}</li>
  <li>{{ _('The vehicles inside the tourist complex must not exceed the speed of 5 km/h.') }}</li>
  <li>{{ _('You must respect the vegetation, the hygiene and the cleanliness of the site.') }}</li>
  <li>{{ _('Dog entrance must be pre-authorized by the Management') }}</li>
  <li>{{ _('Under the authorisation of the management you can connect to the proper sockets necessary but only for lighting and fridge which must be earthen. Tents are not entitled to power supply.') }}</li>
  <li>{{ _('No visits are allowed (see article 1). In case of authorised visits, they are subject to the price list.') }}</li>
  <li>{{ _('After consideration by the management, the non-observance of these rules or a behaviour that ruins the harmonious atmosphere of the camping site may result in expulsion as an unwelcome guest.') }}</li>
</ol>
{% endblock %}
