{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
    <ul class="info-list">
        <li>
            <picture>
                <source media="(min-width: 992px)"  src="../static/img/services/TrentinoGuestCard_h.jpg">
                <source media="(max-width: 991px)"  src="../static/img/services/TrentinoGuestCard_l.jpg">
                <img src="../static/img/services/TrentinoGuestCard_h.jpg" alt="Guest Card">
            </picture>
            <h4>Guest Card</h4>
            <span>
                {% trans %}
Camping Punta Indiani offers gratis for all guests:<br>
<br>
Guest Card Trentino gives you free admission to museums, castles and nature parks and to free travel throughout Trentino on the province’s public transport system for your entire holiday.
                {% endtrans %}
            </span>
            <div class="nubb"></div>
        </li>
        <li>
            <picture>
                <source media="(min-width: 992px)"  src="../static/img/services/LiveLoveValsugana_h.png">
                <source media="(max-width: 991px)"  src="../static/img/services/LiveLoveValsugana_l.png">
                <img src="../static/img/services/LiveLoveValsugana_h.png" alt="Live Love Valsugana">
            </picture>
            <h4><a href="http://www.livelovevalsugana.it/{{ lang }}/">Live Love Valsugana</a></h4>
            <span>
                {% trans %}
Be prepared for your vacation!<br>
<br>
Discover the experiences that your stay in Valsugana offers.<br>
                {% endtrans %}
            </span>
            <div class="nubb"></div>
        </li>
    </ul>
{% endblock %}
