{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
    <ul class="info-list">
        <li>
            <picture>
                <source media="(min-width: 992px)"  src="../static/img/services/TrentinoGuestCard_h.jpg">
                <source media="(max-width: 991px)"  src="../static/img/services/TrentinoGuestCard_l.jpg">
                <img src="../static/img/services/TrentinoGuestCard_h.jpg" alt="Guest Card">
            </picture>
            <strong class="big">Guest Card</strong><br>
            <span>
                {% trans %}
                    Camping Punta Indiani offers gratis for all guests:<br>
                    <br>
                    Guest Card Trentino gives you free admission to museums, castles and nature parks and to free travel throughout Trentino on the province’s public transport system for your entire holiday.
                {% endtrans %}
            </span>
            <div class="nubb"></div>
        </li>
        <li>
            <picture>
                <source media="(min-width: 992px)"  src="../static/img/services/LiveLoveValsugana_h.png">
                <source media="(max-width: 991px)"  src="../static/img/services/LiveLoveValsugana_l.png">
                <img src="../static/img/services/LiveLoveValsugana_h.png" alt="Live Love Valsugana">
            </picture>
            <strong class="big">{{ _('offer cyclists') }}</strong><br>
            <span>
                {% trans %}
                    Guests who arrive by bicycle and tent, pay ALWAYS (high and low season) only €9.00 a day all incl.
                {% endtrans %}
            </span>
            <div class="nubb"></div>
        </li>
    </ul>
{% endblock %}
