{% extends 'base.tpl.html' %}
{% block head %}{% endblock %}

{% block body %}
<ul class="info-list">
    <li><h2>{{ _("offers") }}</h2></li>
    <li>
        <h4>Camping Key Europe</h4>

        <picture>
        <source media="(min-width: 992px)"  src="../static/img/offers/CampingKeyEurope_h.png">
        <source media="(max-width: 991px)"  src="../static/img/offers/CampingKeyEurope_l.png">
        <img class="rounded" src="../static/img/offers/CampingKeyEurope_h.png" alt="Camping Key Europe">
        </picture>
        <span>
            {% trans %}Low Season:<br> 2 People + 1 Pitch B + power = &euro;18 a day{% endtrans %}
            {% trans %}Low Season:<br> 2 People + 1 Pitch C + 1 dog = &euro;16 a day{% endtrans %}
        </span>
        <span class="nubb"></>
    </li>
    <li>
        <h4>ADAC Camp Card</h4>

        <picture>
        <source media="(min-width: 992px)"  src="../static/img/offers/ADACCampCard_h.png">
        <source media="(max-width: 991px)"  src="../static/img/offers/ADACCampCard_l.png">
        <img class="rounded" src="../static/img/offers/ADACCampCard_h.png" alt="ADAC Camp Card">
        </picture>
        <span>
            {% trans %}Low Season:<br> 2 People + 1 Pitch B + power = &euro;18 a day{% endtrans %}
            {% trans %}Low Season:<br> 2 People + 1 Pitch C + 1 dog = &euro;16 a day{% endtrans %}
        </span>
        <span class="nubb"></>
    </li>
    <li>
        <h4>ACSI Camping Card</h4>

        <picture>
        <source media="(min-width: 992px)"  src="../static/img/offers/ACSICampingCard_h.png">
        <source media="(max-width: 991px)"  src="../static/img/offers/ACSICampingCard_l.png">
        <img class="rounded" src="../static/img/offers/ACSICampingCard_h.png" alt="ACSI Camping Card">
        </picture>
        <span>
            {% trans %}Low Season:<br> 2 People + 1 Pitch B + power = &euro;18 a day{% endtrans %}
            {% trans %}Low Season:<br> 2 People + 1 Pitch C + 1 dog = &euro;16 a day{% endtrans %}
        </span>
        <span class="nubb"></>
    </li>
    <li>
        <h4>{{ _('cyclists offer') }}</h4>
        <picture>
        <source media="(min-width: 992px)"  src="../static/img/offers/Cyclists_h.jpg">
        <source media="(max-width: 991px)"  src="../static/img/offers/Cyclists_l.jpg">
        <img src="../static/img/offers/Cyclists_h.jpg" alt="Cyclists">
        </picture>
        <span>
            {% trans %}Guests who arrive by bicycle and tent, pay ALWAYS (high and low season) only &euro;9.00 a day all incl.{% endtrans %}
        </span>
        <span class="nubb"></>
    </li>
</ul>

<ul class="info-list">
    <li><h2>{{ _("services") }}</h2></li>
    <li>
        <h4>Guest Card</h4>

        <picture>
        <source media="(min-width: 992px)"  src="../static/img/services/TrentinoGuestCard_h.png">
        <source media="(max-width: 991px)"  src="../static/img/services/TrentinoGuestCard_l.png">
        <img src="../static/img/services/TrentinoGuestCard_h.png" alt="Guest Card">
        </picture>
        <span>
            {% trans %}
Camping Punta Indiani offers gratis for all guests:<br>
<br>
Guest Card Trentino gives you free admission to museums, castles and nature parks and to free travel throughout Trentino on the province’s public transport system for your entire holiday.
            {% endtrans %}
        </span>
        <span class="nubb"></>
    </li>
    <li>
        <h4><a href="http://www.livelovevalsugana.it/{{ lang }}/">Live Love Valsugana</a></h4>
        <picture>
        <source media="(min-width: 992px)"  src="../static/img/services/LiveLoveValsugana_h.png">
        <source media="(max-width: 991px)"  src="../static/img/services/LiveLoveValsugana_l.png">
        <img src="../static/img/services/LiveLoveValsugana_h.png" alt="Live Love Valsugana">
        </picture>
        <span>
            {% trans %}
Be prepared for your vacation!<br>
<br>
Discover the experiences that your stay in Valsugana offers.<br>
            {% endtrans %}
        </span>
        <span class="nubb"></>
    </li>
</ul>
{% endblock %}
